producers-api/src/main/resources/xsd/IndvUpdateRequestResponse/IndividualUpdateRequest.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://commissioning-ws.sdt.moj.gov.uk/" targetNamespace="http://commissioning-ws.sdt.moj.gov.uk/" elementFormDefault="qualified">
	<xs:include schemaLocation="..\RootXSDs\Base.xsd"/>
		
	<xs:element name="sendIndividualUpdate" type="tns:sendIndividualUpdate"/>
	<xs:complexType name="sendIndividualUpdate">
		<xs:sequence>
			<xs:element name="individual_update" minOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="individual_update">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="tns:sdt_reference"/>
				<xs:element ref="tns:updates" minOccurs="1" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="updates">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="tns:request_id"/>
				<xs:element ref="tns:request_type"/>
				<xs:element ref="tns:status"/>
				<xs:element ref="tns:case_number" minOccurs="0"/>
				<xs:element ref="tns:date_of_issue" minOccurs="0"/>
				<xs:element ref="tns:date_of_service" minOccurs="0"/>
				<xs:element ref="tns:rejection_reason_code" minOccurs="0"/>
				<xs:element ref="tns:rejection_reason_description" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
