producers-api/src/main/resources/xsd/IndvUpdateRequestResponse/IndividualUpdateResponse.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:tns="http://ws.sdt.moj.gov.uk" 
    targetNamespace="http://ws.sdt.moj.gov.uk"
	elementFormDefault="qualified">
    
	<xs:include schemaLocation="../RootXSDs/Base.xsd" />
	
    <xs:element name="updateResponse" type="tns:updateResponseType" />
	<xs:complexType name="updateResponseType">
		<xs:sequence>
			<xs:element name="status" type="tns:statusType"/>
		</xs:sequence>
	</xs:complexType>

</xs:schema>