producers-api/src/main/resources/xsd/IndvUpdateRequestResponse/IndividualUpdateRequest.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:tns="http://ws.sdt.moj.gov.uk" targetNamespace="http://ws.sdt.moj.gov.uk"
	elementFormDefault="qualified">
	<xs:include schemaLocation="..\RootXSDs\Base.xsd" />
	<xs:element name="updateRequest" type="tns:updateRequest" />
	<xs:complexType name="updateRequest">
		<xs:sequence>
			<xs:element name="sdtRequestId" type="tns:sdtRequestId" />
			<xs:element name="claimNumer" type="tns:documentNumber" />
			<xs:element name="issueDate" type="xs:date" />
			<xs:element name="serviceDate" type="xs:date" />
			<xs:element name="warrantNumber" type="tns:documentNumber" />
            <xs:element name="enforcingCourtCode" type="tns:courtCodeType"  minOccurs="0"/>
            <!-- TODO confirm data type -->
            <xs:element name="enforcingCourtName" type="xs:string"  minOccurs="0"/>
			<xs:element name="fee" type="tns:currenyTypeMaxValue999999p99" />
			<xs:element name="status" type="tns:createStatus" />
		</xs:sequence>
	</xs:complexType>
</xs:schema>