producers-api/src/main/resources/wsdl/McolInternalEndpoint.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions name="McolInternalEndpoint" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/"
	xmlns:tns="http://ws.sdt.moj.gov.uk/2013/mcol/McolInternalEndpoint"
	xmlns:req="http://ws.sdt.moj.gov.uk/2013/mcol/RequestSchema"
	xmlns:resp="http://ws.sdt.moj.gov.uk/2013/mcol/ResponseSchema"
	xmlns:dreq="http://ws.sdt.moj.gov.uk/2013/mcol/DefenceFeedbackRequestSchema"
	xmlns:dresp="http://ws.sdt.moj.gov.uk/2013/mcol/DefenceFeedbackResponseSchema"
	targetNamespace="http://ws.sdt.moj.gov.uk/2013/mcol/McolInternalEndpoint">

	<types>

		<!-- Base.xsd -->
		<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
			xmlns:tns="http://ws.sdt.moj.gov.uk/2013/sdt/BaseSchema"
			targetNamespace="http://ws.sdt.moj.gov.uk/2013/sdt/BaseSchema"
			elementFormDefault="qualified" version="1.0">

			<!-- TODO Data type to be confirmed -->
			<xs:simpleType name="sdtCustomerIdType">
				<xs:restriction base="xs:string">
					<xs:minLength value="0" />
					<xs:maxLength value="24" />
				</xs:restriction>
			</xs:simpleType>

			<!-- Proposed data format AA-TTTT-YYMMSDDHHMISS-999999999 -->
			<xs:simpleType name="sdtBulkReferenceType">
				<xs:restriction base="xs:string">
					<xs:length value="32" />
				</xs:restriction>
			</xs:simpleType>

			<xs:simpleType name="targetSystemId">
				<xs:restriction base="xs:string">
					<xs:enumeration value="mcol" />
				</xs:restriction>
			</xs:simpleType>

			<xs:simpleType name="customerReferenceType">
				<xs:restriction base="xs:string">
					<xs:minLength value="0" />
					<xs:maxLength value="32" />
				</xs:restriction>
			</xs:simpleType>

			<xs:simpleType name="codeType">
				<xs:restriction base="xs:string">
					<xs:minLength value="0" />
					<xs:maxLength value="32" />
				</xs:restriction>
			</xs:simpleType>

			<xs:simpleType name="customerCodeType">
				<xs:restriction base="xs:integer">
					<xs:minInclusive value="1000" />
					<xs:maxInclusive value="9999" />
				</xs:restriction>
			</xs:simpleType>

			<xs:simpleType name="requestCountType">
				<xs:restriction base="xs:integer">
					<xs:maxInclusive value="99999" />
				</xs:restriction>
			</xs:simpleType>

			<xs:simpleType name="ncpIdType">
				<xs:restriction base="xs:integer">
					<xs:minInclusive value="1000" />
					<xs:maxInclusive value="9999" />
				</xs:restriction>
			</xs:simpleType>

			<!-- Document number is now an 8 digit number -->
			<xs:simpleType name="documentNumberType">
				<xs:restriction base="xs:string">
					<xs:pattern value="[0-9A-Za-z]{8}" />
				</xs:restriction>
			</xs:simpleType>

			<xs:simpleType name="claimantReferenceType">
				<xs:restriction base="xs:string">
					<xs:minLength value="0" />
					<xs:maxLength value="24" />
				</xs:restriction>
			</xs:simpleType>

			<!-- Defendant ID is Blank (all defendants), 1 or 2 -->
			<xs:simpleType name="defendantIdType">
				<xs:restriction base="xs:string">
					<xs:pattern value=" |1|2" />
				</xs:restriction>
			</xs:simpleType>

			<xs:simpleType name="lineType">
				<xs:restriction base="xs:string">
					<xs:minLength value="0" />
					<xs:maxLength value="30" />
				</xs:restriction>
			</xs:simpleType>
			
			<xs:simpleType name="correspondenceNameType">
				<xs:restriction base="xs:string">
					<xs:minLength value="0" />
					<xs:maxLength value="30" />
				</xs:restriction>
			</xs:simpleType>
			
			<xs:simpleType name="nameType">
				<xs:restriction base="xs:string">
					<xs:minLength value="0" />
					<xs:maxLength value="60" />
				</xs:restriction>
			</xs:simpleType>
			
			<xs:simpleType name="additionalNotesType">
				<xs:restriction base="xs:string">
					<xs:minLength value="0" />
					<xs:maxLength value="120" />
				</xs:restriction>
			</xs:simpleType>
			
			<xs:simpleType name="descriptionType">
				<xs:restriction base="xs:string">
					<xs:minLength value="0" />
					<xs:maxLength value="255" />
				</xs:restriction>
			</xs:simpleType>

			<xs:complexType name="sotSignatureType">
				<xs:sequence>
					<xs:element name="name" type="tns:nameType" />
				</xs:sequence>
			</xs:complexType>

			<xs:simpleType name="courtCode">
				<xs:restriction base="xs:integer">
					<xs:pattern value="[0-9]{3}" />
				</xs:restriction>
			</xs:simpleType>
			
			<xs:simpleType name="courtNameType">
				<xs:restriction base="xs:string">
					<xs:minLength value="0" />
					<xs:maxLength value="40" />
				</xs:restriction>
			</xs:simpleType>

			<xs:simpleType name="postcodeType">
				<xs:restriction base="xs:string">
					<xs:pattern value="[A-Z]{1,2}[0-9R][0-9A-Z]? [0-9][A-Z-[CIKMOV]]{2}" />
				</xs:restriction>
			</xs:simpleType>

			<xs:complexType name="addressType">
				<xs:sequence>
					<xs:element name="line1" type="tns:lineType" />
					<xs:element name="line2" type="tns:lineType" />
					<xs:element name="line3" type="tns:lineType"
						minOccurs="0" />
					<xs:element name="line4" type="tns:lineType"
						minOccurs="0" />
					<xs:element name="line5" type="tns:lineType"
						minOccurs="0" />
					<xs:element name="postcode" type="tns:postcodeType" />
				</xs:sequence>
			</xs:complexType>
			
			<xs:complexType name="correspondenceDetailType">
				<xs:annotation>
					<xs:documentation>
						Describes correspondence details.
					</xs:documentation>
				</xs:annotation>
				<xs:sequence>
					<xs:element name="name" type="tns:correspondenceNameType" />
					<xs:element name="address" type="tns:addressType" />
				</xs:sequence>
			</xs:complexType>
			
			<xs:complexType name="personType">
				<xs:annotation>
					<xs:documentation>
						Describes a person
					</xs:documentation>
				</xs:annotation>
				<xs:sequence>
					<xs:element name="name" type="tns:nameType" />
					<xs:element name="address" type="tns:addressType" />
				</xs:sequence>
			</xs:complexType>

			<xs:simpleType name="requestIdType">
				<xs:restriction base="xs:string">
					<xs:minLength value="0" />
					<xs:maxLength value="24" />
				</xs:restriction>
			</xs:simpleType>

			<xs:simpleType name="sdtRequestIdType">
				<xs:restriction base="xs:string">
					<xs:minLength value="0" />
					<xs:maxLength value="40" />
				</xs:restriction>
			</xs:simpleType>

			<xs:simpleType name="requestTypeType">
				<xs:restriction base="xs:string">
					<xs:enumeration value="mcolClaim" />
					<xs:enumeration value="mcolJudgment" />
					<xs:enumeration value="mcolJudgmentForthwith" />
					<xs:enumeration value="mcolWarrant" />
					<xs:enumeration value="mcolPaid" />
				</xs:restriction>
			</xs:simpleType>

			<xs:simpleType name="feeType">
				<xs:restriction base="xs:integer">
					<xs:minInclusive value="0" />
					<xs:maxInclusive value="999999999" />
				</xs:restriction>
			</xs:simpleType>

			<xs:simpleType name="deductedAmountType">
				<xs:restriction base="xs:integer">
					<xs:minInclusive value="0" />
					<xs:maxInclusive value="99999999" />
				</xs:restriction>
			</xs:simpleType>

			<xs:simpleType name="claimAmountType">
				<xs:restriction base="xs:integer">
					<xs:minInclusive value="0" />
					<xs:maxInclusive value="9999999" />
				</xs:restriction>
			</xs:simpleType>

			<xs:simpleType name="balanceOfDebtType">
				<xs:restriction base="xs:integer">
					<xs:minInclusive value="0" />
					<xs:maxInclusive value="9999999" />
				</xs:restriction>
			</xs:simpleType>

			<xs:simpleType name="warrantAmountType">
				<xs:restriction base="xs:integer">
					<xs:minInclusive value="0" />
					<xs:maxInclusive value="9999999" />
				</xs:restriction>
			</xs:simpleType>

			<xs:simpleType name="amountType">
				<xs:restriction base="xs:integer">
					<xs:minInclusive value="0" />
					<xs:maxInclusive value="9999999" />
				</xs:restriction>
			</xs:simpleType>

			<xs:simpleType name="interestType">
				<xs:restriction base="xs:integer">
					<xs:minInclusive value="0" />
					<xs:maxInclusive value="9999999" />
				</xs:restriction>
			</xs:simpleType>

			<xs:simpleType name="dailyAmountType">
				<xs:restriction base="xs:integer">
					<xs:minInclusive value="0" />
					<xs:maxInclusive value="999999" />
				</xs:restriction>
			</xs:simpleType>
			
			<xs:simpleType name="solicitorCostType">
				<xs:restriction base="xs:integer">
					<xs:minInclusive value="0" />
					<xs:maxInclusive value="999999" />
				</xs:restriction>
			</xs:simpleType>
			
			<xs:simpleType name="statusCodeType">
				<xs:restriction base="xs:string">
					<xs:enumeration value="OK" />
					<xs:enumeration value="ERROR" />
				</xs:restriction>
			</xs:simpleType>

			<xs:simpleType name="createStatusCodeType">
				<xs:restriction base="xs:string">
					<xs:enumeration value="ACCEPTED" />
					<xs:enumeration value="INITIALLY_ACCEPTED" />
					<xs:enumeration value="REJECTED" />
					<xs:enumeration value="ERROR" />
				</xs:restriction>
			</xs:simpleType>

			<xs:complexType name="errorType">
				<xs:sequence>
					<xs:element name="code" type="tns:codeType" />
					<xs:element name="description" type="tns:descriptionType" />
				</xs:sequence>
			</xs:complexType>

			<xs:complexType name="statusType">
				<xs:sequence>
					<xs:element name="error" type="tns:errorType" minOccurs="0" />
				</xs:sequence>
				<xs:attribute name="code" type="tns:statusCodeType"></xs:attribute>
			</xs:complexType>

			<xs:complexType name="createStatusType">
				<xs:sequence>
					<xs:element name="error" type="tns:errorType" minOccurs="0" />
				</xs:sequence>
				<xs:attribute name="code" type="tns:createStatusCodeType"></xs:attribute>
			</xs:complexType>

		</xs:schema>
		<!-- Claim.xsd -->
		<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
			targetNamespace="http://ws.sdt.moj.gov.uk/2013/mcol/ClaimSchema"
			xmlns:tns="http://ws.sdt.moj.gov.uk/2013/mcol/ClaimSchema"
			xmlns:base="http://ws.sdt.moj.gov.uk/2013/sdt/BaseSchema"
			elementFormDefault="qualified" version="1.0">

			<xs:import namespace="http://ws.sdt.moj.gov.uk/2013/sdt/BaseSchema" />

			<xs:simpleType name="particulars">
				<xs:restriction base="xs:string">
					<xs:minLength value="0" />
					<xs:maxLength value="45" />
				</xs:restriction>
			</xs:simpleType>

			<xs:complexType name="interestType">
				<xs:sequence>
					<xs:element name="dailyAmount" type="base:dailyAmountType" />
					<xs:element name="owedDate" type="xs:date" />
					<xs:element name="claimDate" type="xs:date" />
					<xs:element name="claimAmount" type="base:claimAmountType">
						<xs:annotation>
							<xs:documentation>Amount on which interest should be calculated.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:complexType>

			<xs:complexType name="claimType">
				<xs:annotation>
					<xs:documentation>Represents Claim document.</xs:documentation>
				</xs:annotation>
				<xs:sequence>
					<xs:element name="claimantReference" type="base:claimantReferenceType"
						minOccurs="0" />
					<xs:element name="claimant" type="base:personType"
						minOccurs="0">
						<xs:annotation>
							<xs:documentation>Should be populated if customer is a solicitor.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="claimantCorrespondence" type="base:correspondenceDetailType"
						minOccurs="0">
						<xs:annotation>
							<xs:documentation>Should be populated if customer is not a
								solicitor.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="defendant1" type="base:personType" />
					<xs:element name="defendant2" type="base:personType"
						minOccurs="0" />
					<xs:element name="sendParticularsSeparately" type="xs:boolean" />
					<xs:element name="interest" type="tns:interestType"
						minOccurs="0" />
					<xs:element name="claimAmount" type="base:claimAmountType" />
					<xs:element name="solicitorCost" type="base:solicitorCostType"
						minOccurs="0">
						<xs:annotation>
							<xs:documentation>Should be populated only if customer is
								solicitor.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="particulars" type="tns:particulars"
						minOccurs="1" maxOccurs="24">
						<xs:annotation>
							<xs:documentation>Details about the claim</xs:documentation>
						</xs:annotation>
					</xs:element>
					<!-- TODO Hillary to confirm if this is required. -->
					<xs:element name="guidanceRead" type="xs:boolean" />
					<xs:element name="sotSignature" type="base:sotSignatureType" />
				</xs:sequence>
			</xs:complexType>

			<xs:element name="mcolClaim" type="tns:claimType" />

		</xs:schema>

		<!-- Warrant.xsd -->
		<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
			xmlns:tns="http://ws.sdt.moj.gov.uk/2013/mcol/WarrantSchema"
			targetNamespace="http://ws.sdt.moj.gov.uk/2013/mcol/WarrantSchema"
			xmlns:base="http://ws.sdt.moj.gov.uk/2013/sdt/BaseSchema"
			elementFormDefault="qualified" version="1.0">

			<xs:import namespace="http://ws.sdt.moj.gov.uk/2013/sdt/BaseSchema" />

			<xs:complexType name="warrantType">
				<xs:sequence>
					<xs:element name="claimNumber" type="base:documentNumberType" />
					<xs:element name="claimantReference" type="base:claimantReferenceType"
						minOccurs="0" />
					<xs:element name="defendantId" type="base:defendantIdType" />
					<xs:element name="defendantAddress" type="base:addressType" />
					<xs:element name="balanceOfDebt" type="balanceOfDebtType" />
					<xs:element name="warrantAmount" type="base:warrantAmountType" />
					<xs:element name="solicitorCost" type="base:solicitorCostType"
						minOccurs="0" />
					<xs:element name="additionalNotes" type="base:additionalNotesType"
						minOccurs="0" />
				</xs:sequence>
			</xs:complexType>

			<xs:element name="mcolWarrant" type="tns:warrantType" />

		</xs:schema>

		<!-- Judgment.xsd -->
		<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
			targetNamespace="http://ws.sdt.moj.gov.uk/2013/mcol/JudgmentSchema"
			xmlns:tns="http://ws.sdt.moj.gov.uk/2013/mcol/JudgmentSchema"
			xmlns:base="http://ws.sdt.moj.gov.uk/2013/sdt/BaseSchema" xmlns:wnt="http://ws.sdt.moj.gov.uk/2013/mcol/WarrantSchema"
			elementFormDefault="qualified" version="1.0">

			<xs:import namespace="http://ws.sdt.moj.gov.uk/2013/sdt/BaseSchema" />
			<xs:import namespace="http://ws.sdt.moj.gov.uk/2013/mcol/WarrantSchema" />

			<xs:element name="mcoljudgmentForthwith" type="tns:judgmentForthwithType" />

			<xs:complexType name="judgmentForthwithType">
				<xs:sequence>
					<xs:element name="mcolJudgment" type="tns:judgmentType" />
					<xs:element name="mcolWarrant" type="wnt:warrantType" />
				</xs:sequence>
			</xs:complexType>

			<xs:element name="mcoljudgment" type="tns:judgmentType" />

			<xs:simpleType name="judgmentOption">
				<xs:restriction base="xs:string">
					<xs:enumeration value="A" />
					<xs:enumeration value="D" />
				</xs:restriction>
			</xs:simpleType>

			<xs:simpleType name="instalmentFrequency">
				<xs:restriction base="xs:string">
					<xs:enumeration value="W" />
					<xs:enumeration value="F" />
					<xs:enumeration value="M" />
				</xs:restriction>
			</xs:simpleType>

			<xs:complexType name="instalmentPaymentType">
				<xs:annotation>
					<xs:documentation>Details when payment is to be paid in
						instalments. The amount cannot be greater than claim amount.
					</xs:documentation>
				</xs:annotation>
				<xs:sequence>
					<xs:element name="amount" type="base:amountType" />
					<xs:element name="frequency" type="tns:instalmentFrequency"></xs:element>
				</xs:sequence>
			</xs:complexType>

			<xs:complexType name="fullPaymentType">
				<xs:annotation>
					<xs:documentation>Details when payment is to be paid in full
					</xs:documentation>
				</xs:annotation>
				<xs:sequence>
					<xs:element name="fullByDate" type="xs:date">
						<xs:annotation>
							<xs:documentation>The date by which defendant should pay the full
								amount. Should be in future and not tomorrow.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:complexType>

			<xs:complexType name="immediatePaymentType">
				<xs:annotation>
					<xs:documentation>Details when payment is to be paid immediately
					</xs:documentation>
				</xs:annotation>
			</xs:complexType>

			<xs:complexType name="paymentScheduleType">
				<xs:choice>
					<xs:element name="fullPayment" type="tns:fullPaymentType" />
					<xs:element name="instalment" type="tns:instalmentPaymentType" />
					<xs:element name="immediatePayment" type="tns:immediatePaymentType" />
				</xs:choice>
			</xs:complexType>

			<xs:complexType name="judgmentType">
				<xs:sequence>
					<xs:element name="claimNumber" type="base:documentNumberType" />
					<xs:element name="jointJudgment" type="xs:boolean" />
					<xs:element name="judgmentOption" type="tns:judgmentOption" />
					<xs:element name="sendParticularsSeparately" type="xs:boolean" />
					<xs:element name="defendantId" type="base:defendantIdType" />
					<xs:element name="defendant1Address" type="base:addressType"
						minOccurs="0" />
					<xs:element name="defendant1DateOfBirth" type="xs:date"
						minOccurs="0" />
					<!-- TODO More info needed to determine if structure could be simplified -->
					<xs:element name="defendant2Address" type="base:addressType"
						minOccurs="0" />
					<xs:element name="defendant2DateOfBirth" type="xs:date"
						minOccurs="0" />
					<xs:element name="paymentSchedule" type="tns:paymentScheduleType" />
					<xs:element name="interest" type="base:interestType"
						minOccurs="0" />
					<xs:element name="solicitorCost" type="base:solicitorCostType"
						minOccurs="0" />
					<xs:element name="deductedAmount" type="base:deductedAmountType"
						minOccurs="0" />
					<!-- TODO Hillary to confirm if this is required. -->
					<xs:element name="guidanceRead" type="xs:boolean" />
					<xs:element name="sotSignature" type="base:sotSignatureType" />
					<!-- TODO Hillary to confirm if payee details should be present -->
				</xs:sequence>
			</xs:complexType>

		</xs:schema>

		<!-- Paid.xsd -->
		<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
			xmlns:tns="http://ws.sdt.moj.gov.uk/2013/mcol/PaidSchema"
			targetNamespace="http://ws.sdt.moj.gov.uk/2013/mcol/PaidSchema"
			xmlns:base="http://ws.sdt.moj.gov.uk/2013/sdt/BaseSchema"
			elementFormDefault="qualified" version="1.0">

			<xs:import namespace="http://ws.sdt.moj.gov.uk/2013/sdt/BaseSchema" />

			<xs:simpleType name="notification">
				<xs:restriction base="xs:string">
					<xs:enumeration value="MP">
						<xs:annotation>
							<xs:documentation>Paid</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="WO">
						<xs:annotation>
							<xs:documentation>Written Off</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="WD">
						<xs:annotation>
							<xs:documentation>Withdrawn</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="DI">
						<xs:annotation>
							<xs:documentation>Discontinued</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
				</xs:restriction>
			</xs:simpleType>

			<xs:complexType name="paidType">
				<xs:sequence>
					<xs:element name="claimNumber" type="base:documentNumberType" />
					<xs:element name="defendantId" type="base:defendantIdType"
						minOccurs="0" />
					<xs:element name="notificationType" type="tns:notification" />
					<xs:element name="lastPaymentDate" type="xs:date"
						minOccurs="0" />
				</xs:sequence>
			</xs:complexType>

			<xs:element name="mcolPaid" type="tns:paidType" />

		</xs:schema>

		<!-- IndividualSubmitRequest.xsd -->
		<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
			xmlns:tns="http://ws.sdt.moj.gov.uk/2013/mcol/RequestSchema"
			targetNamespace="http://ws.sdt.moj.gov.uk/2013/mcol/RequestSchema"
			elementFormDefault="qualified" xmlns:base="http://ws.sdt.moj.gov.uk/2013/sdt/BaseSchema"
			xmlns:clm="http://ws.sdt.moj.gov.uk/2013/mcol/ClaimSchema" xmlns:jud="http://ws.sdt.moj.gov.uk/2013/mcol/JudgmentSchema"
			xmlns:pd="http://ws.sdt.moj.gov.uk/2013/mcol/PaidSchema" xmlns:wnt="http://ws.sdt.moj.gov.uk/2013/mcol/WarrantSchema"
			version="1.0">

			<xs:import namespace="http://ws.sdt.moj.gov.uk/2013/sdt/BaseSchema" />
			<xs:import namespace="http://ws.sdt.moj.gov.uk/2013/mcol/ClaimSchema" />
			<xs:import namespace="http://ws.sdt.moj.gov.uk/2013/mcol/JudgmentSchema" />
			<xs:import namespace="http://ws.sdt.moj.gov.uk/2013/mcol/PaidSchema" />
			<xs:import namespace="http://ws.sdt.moj.gov.uk/2013/mcol/WarrantSchema" />

			<xs:complexType name="headerType">
				<xs:sequence>
					<xs:element name="sdtRequestId" type="base:sdtRequestIdType" />
					<xs:element name="ncpId" type="base:ncpIdType" />
				</xs:sequence>
			</xs:complexType>

			<xs:complexType name="createClaimRequestType">
				<xs:sequence>
					<xs:element name="header" type="tns:headerType" />
					<xs:element name="mcolClaim" type="clm:claimType" />
				</xs:sequence>
			</xs:complexType>

			<xs:complexType name="createJudgmentRequestType">
				<xs:sequence>
					<xs:element name="header" type="tns:headerType" />
					<xs:element name="mcolJudgment" type="jud:judgmentType" />
				</xs:sequence>
			</xs:complexType>

			<xs:complexType name="createJudgmentForthwithRequestType">
				<xs:sequence>
					<xs:element name="header" type="tns:headerType" />
					<xs:element name="mcolJudgmentForthwith" type="jud:judgmentForthwithType" />
				</xs:sequence>
			</xs:complexType>

			<xs:complexType name="createPaidRequestType">
				<xs:sequence>
					<xs:element name="header" type="tns:headerType" />
					<xs:element name="mcolPaid" type="pd:paidType" />
				</xs:sequence>
			</xs:complexType>

			<xs:complexType name="createWarrantRequestType">
				<xs:sequence>
					<xs:element name="header" type="tns:headerType" />
					<xs:element name="mcolWarrant" type="wnt:warrantType" />
				</xs:sequence>
			</xs:complexType>

			<xs:element name="createClaimRequest" type="tns:createClaimRequestType" />
			<xs:element name="createJudgmentRequest" type="tns:createJudgmentRequestType" />
			<xs:element name="createJudgmentForthwithRequest" type="tns:createJudgmentForthwithRequestType" />
			<xs:element name="createWarrantRequest" type="tns:createWarrantRequestType" />
			<xs:element name="createPaidRequest" type="tns:createPaidRequestType" />

		</xs:schema>

		<!-- IndividualSubmitResponse.xsd -->
		<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
			xmlns:tns="http://ws.sdt.moj.gov.uk/2013/mcol/ResponseSchema"
			targetNamespace="http://ws.sdt.moj.gov.uk/2013/mcol/ResponseSchema"
			xmlns:base="http://ws.sdt.moj.gov.uk/2013/sdt/BaseSchema"
			elementFormDefault="qualified" version="1.0">

			<xs:import namespace="http://ws.sdt.moj.gov.uk/2013/sdt/BaseSchema" />

			<xs:complexType name="createResponseType">
				<xs:sequence>
					<xs:element name="sdtRequestId" type="base:sdtRequestIdType" />
					<xs:element name="claimNumber" type="base:documentNumberType"
						minOccurs="0" />
					<xs:element name="issueDate" type="xs:date" minOccurs="0" />
					<xs:element name="serviceDate" type="xs:date" minOccurs="0" />
					<xs:element name="warrantNumber" type="base:documentNumberType"
						minOccurs="0" />
					<xs:element name="enforcingCourtCode" type="base:courtCodeType"
						minOccurs="0" />
					<xs:element name="enforcingCourtName" type="base:courtNameType"
						minOccurs="0" />
					<xs:element name="fee" type="base:feeType" minOccurs="0" />
					<xs:element name="status" type="base:createStatusType" />
				</xs:sequence>
			</xs:complexType>

			<xs:element name="createResponse" type="tns:createResponseType" />

		</xs:schema>

		<!-- DefenceFeedbackRequest.xsd -->
		<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
			xmlns:tns="http://ws.sdt.moj.gov.uk/2013/mcol/DefenceFeedbackRequestSchema"
			targetNamespace="http://ws.sdt.moj.gov.uk/2013/mcol/DefenceFeedbackRequestSchema"
			xmlns:base="http://ws.sdt.moj.gov.uk/2013/sdt/BaseSchema"
			elementFormDefault="qualified" version="1.0">

			<xs:import namespace="http://ws.sdt.moj.gov.uk/2013/sdt/BaseSchema" />

			<xs:element name="defenceRequest" type="tns:defenceRequestType" />
			<xs:complexType name="defenceRequestType">
				<xs:sequence>
					<xs:element name="header" type="tns:headerType" />
					<xs:element name="mcolDefence" type="tns:mcolDefenceType" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="headerType">
				<xs:sequence>
					<xs:element name="ncpId" type="base:ncpIdType" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="mcolDefenceType">
				<xs:sequence>
					<xs:element name="fromDate" type="xs:date" />
					<xs:element name="toDate" type="xs:date" />
				</xs:sequence>
				<xs:attribute name="maxResults" type="xs:integer" />
			</xs:complexType>
		</xs:schema>

		<!-- DefenceFeedbackResponse.xsd -->
		<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
			xmlns:tns="http://ws.sdt.moj.gov.uk/2013/mcol/DefenceFeedbackResponseSchema"
			targetNamespace="http://ws.sdt.moj.gov.uk/2013/mcol/DefenceFeedbackResponseSchema"
			xmlns:base="http://ws.sdt.moj.gov.uk/2013/sdt/BaseSchema"
			elementFormDefault="qualified" version="1.0">

			<xs:import namespace="http://ws.sdt.moj.gov.uk/2013/sdt/BaseSchema" />

			<xs:element name="defenceResponse" type="tns:defenceResponseType" />
			<xs:complexType name="defenceResponseType">
				<xs:sequence>
					<xs:element name="defenceDetails" type="tns:defenceDetailsType" />
					<xs:element name="status" type="base:statusType" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="defenceDetailsType">
				<xs:sequence>
					<xs:element name="defenceDetail" type="tns:defenceDetailType"
						maxOccurs="unbounded" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="defenceDetailType">
				<xs:sequence>
					<xs:element name="claimNumber" type="base:documentNumberType" />
					<xs:element name="defendants">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="defendant" type="tns:defendantType"
									maxOccurs="2" />
							</xs:sequence>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:complexType>

			<xs:complexType name="defendantType">
				<xs:sequence>
					<xs:element name="filedDate" type="xs:dateTime" />
					<xs:element name="responseType" type="tns:responseType" />
				</xs:sequence>
				<xs:attribute name="defendantId" type="base:defendantIdType" />
			</xs:complexType>

			<!-- Response Type is DE, DC or PA -->
			<xs:simpleType name="responseType">
				<xs:restriction base="xs:string">
					<xs:enumeration value="DE" />
					<xs:enumeration value="DC" />
					<xs:enumeration value="PA" />
				</xs:restriction>
			</xs:simpleType>
		</xs:schema>

	</types>

	<message name="createClaimRequest">
		<part name="createClaimRequest" element="req:createClaimRequest" />
	</message>
	<message name="createJudgmentRequest">
		<part name="createJudgmentRequest" element="req:createJudgmentRequest" />
	</message>
	<message name="createJudgmentForthwithRequest">
		<part name="createJudgmentForthwithRequest" element="req:createJudgmentForthwithRequest" />
	</message>
	<message name="createWarrantRequest">
		<part name="createWarrantRequest" element="req:createWarrantRequest" />
	</message>
	<message name="createPaidRequest">
		<part name="createPaidRequest" element="req:createPaidRequest" />
	</message>
	<message name="createResponse">
		<part name="createResponse" element="resp:createResponse" />
	</message>
	<message name="defenceRequest">
		<part name="parameters" element="dreq:defenceRequest" />
	</message>
	<message name="defenceResponse">
		<part name="parameters" element="dresp:defenceResponse" />
	</message>

	<portType name="IMcolInternalEndpointPortType">
		<operation name="createClaim">
			<input message="tns:createClaimRequest" />
			<output message="tns:createResponse" />
		</operation>
		<operation name="createJudgment">
			<input message="tns:createJudgmentRequest" />
			<output message="tns:createResponse" />
		</operation>
		<operation name="createJudgmentForthwith">
			<input message="tns:createJudgmentForthwithRequest" />
			<output message="tns:createResponse" />
		</operation>
		<operation name="createWarrant">
			<input message="tns:createWarrantRequest" />
			<output message="tns:createResponse" />
		</operation>
		<operation name="createPaid">
			<input message="tns:createPaidRequest" />
			<output message="tns:createResponse" />
		</operation>
		<operation name="getDefenceDetails">
			<input message="tns:defenceRequest" />
			<output message="tns:defenceResponse" />
		</operation>
	</portType>

	<binding name="McolInternalEndpointHttpPortBinding" type="tns:IMcolInternalEndpointPortType">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<operation name="createClaim">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
		<operation name="createJudgment">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
		<operation name="createJudgmentForthwith">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
		<operation name="createWarrant">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
		<operation name="createPaid">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
		<operation name="getDefenceDetails">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
	</binding>

	<service name="McolInternalEndpoint">
		<port name="McolInternalEndpointPort" binding="tns:McolInternalEndpointHttpPortBinding">
			<soap:address location="http://ws.mcol.moj.gov.uk/mcol/internalService" />
		</port>
	</service>

</definitions>