producers-api/src/main/resources/wsdl/McolInternalEndpoint.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions name="McolInternalEndpoint" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/"
	xmlns:tns="http://ws.sdt.moj.gov.uk/2013/mcol/McolInternalEndpoint"
	xmlns:req="http://ws.sdt.moj.gov.uk/2013/mcol/RequestSchema"
	xmlns:resp="http://ws.sdt.moj.gov.uk/2013/mcol/ResponseSchema"
	xmlns:qreq="http://ws.sdt.moj.gov.uk/2013/mcol/SubmitQueryRequestSchema"
	xmlns:qresp="http://ws.sdt.moj.gov.uk/2013/mcol/SubmitQueryResponseSchema"
	targetNamespace="http://ws.sdt.moj.gov.uk/2013/mcol/McolInternalEndpoint">

	<types>

        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
            <xs:import namespace="http://ws.sdt.moj.gov.uk/2013/sdt/BaseSchema" schemaLocation="../xsd/RootXSDs/Base.xsd"/>

            <xs:import namespace="http://ws.sdt.moj.gov.uk/2013/mcol/ClaimSchema" schemaLocation="../xsd/RootXSDs/Claim.xsd"/>
            <xs:import namespace="http://ws.sdt.moj.gov.uk/2013/mcol/WarrantSchema" schemaLocation="../xsd/RootXSDs/Warrant.xsd"/>
            <xs:import namespace="http://ws.sdt.moj.gov.uk/2013/mcol/JudgmentSchema" schemaLocation="../xsd/RootXSDs/Judgment.xsd"/>
            <xs:import namespace="http://ws.sdt.moj.gov.uk/2013/mcol/ClaimStatusUpdateSchema" schemaLocation="../xsd/RootXSDs/ClaimStatusUpdate.xsd"/>

            <xs:import namespace="http://ws.sdt.moj.gov.uk/2013/mcol/RequestSchema" schemaLocation="../xsd/IndvRequestResponse/IndividualSubmitRequest.xsd"/>
            <xs:import namespace="http://ws.sdt.moj.gov.uk/2013/mcol/ResponseSchema" schemaLocation="../xsd/IndvRequestResponse/IndividualSubmitResponse.xsd"/>

            <xs:import namespace="http://ws.sdt.moj.gov.uk/2013/mcol/SubmitQueryRequestSchema" schemaLocation="../xsd/SubmitQueryRequestResponse/SubmitQueryRequestMCOL.xsd"/>
            <xs:import namespace="http://ws.sdt.moj.gov.uk/2013/mcol/SubmitQueryResponseSchema" schemaLocation="../xsd/SubmitQueryRequestResponse/SubmitQueryResponseMCOL.xsd"/>

        </xs:schema>
	</types>

	<message name="createClaimRequest">
		<part name="createClaimRequest" element="req:createClaimRequest" />
	</message>
	<message name="createJudgmentRequest">
		<part name="createJudgmentRequest" element="req:createJudgmentRequest" />
	</message>
	<message name="createJudgmentWarrantRequest">
		<part name="createJudgmentWarrantRequest" element="req:createJudgmentWarrantRequest" />
	</message>
	<message name="createWarrantRequest">
		<part name="createWarrantRequest" element="req:createWarrantRequest" />
	</message>
	<message name="updateClaimRequest">
		<part name="updateClaimRequest" element="req:updateClaimRequest" />
	</message>
	<message name="createResponse">
		<part name="createResponse" element="resp:createResponse" />
	</message>
	<message name="submitQueryRequest">
		<part name="parameters" element="qreq:submitQueryRequest" />
	</message>
	<message name="submitQueryResponse">
		<part name="parameters" element="qresp:submitQueryResponse" />
	</message>

	<portType name="IMcolInternalEndpointPortType">
		<operation name="createClaim">
			<input message="tns:createClaimRequest" />
			<output message="tns:createResponse" />
		</operation>
		<operation name="createJudgment">
			<input message="tns:createJudgmentRequest" />
			<output message="tns:createResponse" />
		</operation>
		<operation name="createJudgmentWarrant">
			<input message="tns:createJudgmentWarrantRequest" />
			<output message="tns:createResponse" />
		</operation>
		<operation name="createWarrant">
			<input message="tns:createWarrantRequest" />
			<output message="tns:createResponse" />
		</operation>
		<operation name="updateClaim">
			<input message="tns:updateClaimRequest" />
			<output message="tns:createResponse" />
		</operation>
		<operation name="submitQuery">
			<input message="tns:submitQueryRequest" />
			<output message="tns:submitQueryResponse" />
		</operation>
	</portType>

	<binding name="McolInternalEndpointHttpPortBinding" type="tns:IMcolInternalEndpointPortType">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<operation name="createClaim">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
		<operation name="createJudgment">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
		<operation name="createJudgmentWarrant">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
		<operation name="createWarrant">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
		<operation name="updateClaim">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
		<operation name="submitQuery">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
	</binding>

	<service name="McolInternalEndpoint">
		<port name="McolInternalEndpointPort" binding="tns:McolInternalEndpointHttpPortBinding">
			<soap:address location="http://ws.mcol.moj.gov.uk/mcol/internalService" />
		</port>
	</service>

</definitions>