producers-api/src/main/resources/wsdl/TargetAppInternalEndpoint.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions name="TargetAppInternalEndpoint" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap12/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/"
	xmlns:tns="http://ws.sdt.moj.gov.uk/2013/sdt/TargetAppInternalEndpoint"
	xmlns:req="http://ws.sdt.moj.gov.uk/2013/sdt/targetApp/IndvRequestSchema"
	xmlns:resp="http://ws.sdt.moj.gov.uk/2013/sdt/targetApp/IndvResponseSchema"
	xmlns:qreq="http://ws.sdt.moj.gov.uk/2013/sdt/targetApp/SubmitQueryRequestSchema"
	xmlns:qresp="http://ws.sdt.moj.gov.uk/2013/sdt/targetApp/SubmitQueryResponseSchema"
	targetNamespace="http://ws.sdt.moj.gov.uk/2013/sdt/TargetAppInternalEndpoint">

	<types>

        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
            <xs:import namespace="http://ws.sdt.moj.gov.uk/2013/sdt/targetApp/IndvRequestSchema" schemaLocation="../xsd/IndvRequestResponse/IndividualSubmitRequestGeneric.xsd"/>
            <xs:import namespace="http://ws.sdt.moj.gov.uk/2013/sdt/targetApp/IndvResponseSchema" schemaLocation="../xsd/IndvRequestResponse/IndividualSubmitResponseGeneric.xsd"/>

            <xs:import namespace="http://ws.sdt.moj.gov.uk/2013/sdt/targetApp/SubmitQueryRequestSchema" schemaLocation="../xsd/SubmitQueryRequestResponse/SubmitQueryRequestTargetAppGeneric.xsd"/>
            <xs:import namespace="http://ws.sdt.moj.gov.uk/2013/sdt/targetApp/SubmitQueryResponseSchema" schemaLocation="../xsd/SubmitQueryRequestResponse/SubmitQueryResponseTargetAppGeneric.xsd"/>

        </xs:schema>
	</types>

	<message name="individualRequest">
		<part name="individualRequest" element="req:individualRequest" />
	</message>
	<message name="individualResponse">
		<part name="individualResponse" element="resp:individualResponse" />
	</message>
	<message name="submitQueryRequest">
		<part name="submitQueryRequest" element="qreq:submitQueryRequest" />
	</message>
	<message name="submitQueryResponse">
		<part name="submitQueryResponse" element="qresp:submitQueryResponse" />
	</message>

	<portType name="ITargetAppInternalEndpointPortType">
		<operation name="submitIndividual">
			<input message="tns:individualRequest" />
			<output message="tns:individualResponse" />
		</operation>
		<operation name="submitQuery">
			<input message="tns:submitQueryRequest" />
			<output message="tns:submitQueryResponse" />
		</operation>
	</portType>

	<binding name="TargetAppInternalEndpointHttpPortBinding" type="tns:ITargetAppInternalEndpointPortType">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<operation name="submitIndividual">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
		<operation name="submitQuery">
			<soap:operation soapAction="" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
	</binding>

	<service name="TargetAppInternalEndpoint">
		<port name="TargetAppInternalEndpointPort" binding="tns:TargetAppInternalEndpointHttpPortBinding">
			<soap:address location="http://ws.targetApp.moj.gov.uk/targetApp/internalService" />
		</port>
	</service>

</definitions>