producers-api/src/main/resources/wsdl/updateIndividualRequest.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://commissioning-ws.sdt.moj.gov.uk/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" name="updateIndividualRequestService" targetNamespace="http://commissioning-ws.sdt.moj.gov.uk/">
	<types>
		<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://commissioning-ws.sdt.moj.gov.uk/" targetNamespace="http://commissioning-ws.sdt.moj.gov.uk/" elementFormDefault="qualified">
			<!-- Base.xsd -->
			<!-- Customer code is a 4 digit number -->
			<xs:element name="customer_code">
				<xs:simpleType>
					<xs:restriction base="xs:integer">
						<xs:minInclusive value="1000"/>
						<xs:maxInclusive value="9999"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<!-- Request reference -->
			<xs:element name="request_id">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="0"/>
						<xs:maxLength value="24"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<!-- Case number is now an 8 digit number -->
			<xs:element name="case_number">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:pattern value="[0-9A-Za-z]{8}"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<!-- Warrant number is now an 8 digit number -->
			<xs:element name="warrant_number">
				<xs:simpleType>
					<xs:restriction base="xs:integer">
						<xs:pattern value="[0-9A-Za-z]{8}"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<!-- Defendant ID is Blank (all defendants), 1 or 2 -->
			<xs:element name="defendant_id">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:pattern value=" |1|2"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="defendant_address_line_1" type="tns:address_line"/>
			<xs:element name="defendant_address_line_2" type="tns:address_line"/>
			<xs:element name="defendant_address_line_3" type="tns:address_line"/>
			<xs:element name="defendant_address_line_4" type="tns:address_line"/>
			<xs:element name="defendant_address_line_5" type="tns:address_line"/>
			<xs:element name="defendant_postcode" type="tns:postcode"/>
			<!-- Custom types -->
			<xs:element name="reference">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="0"/>
						<xs:maxLength value="32"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
				<xs:element name="claimant_reference">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="0"/>
						<xs:maxLength value="24"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="number_of_requests">
				<xs:simpleType>
					<xs:restriction base="xs:integer">
						<xs:maxInclusive value="99999"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="sdt_reference">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="0"/>
						<xs:maxLength value="32"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
				<xs:element name="bulk_customer_id">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="0"/>
						<xs:maxLength value="32"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="SOT_facts_are_true_declaration">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:pattern value="[yY]|[nN]"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="SOT_name_on_particulars">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="0"/>
						<xs:maxLength value="32"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:simpleType name="address_line">
				<xs:restriction base="xs:string">
					<xs:minLength value="0"/>
					<xs:maxLength value="35"/>
				</xs:restriction>
			</xs:simpleType>
			<xs:simpleType name="postcode">
				<xs:restriction base="xs:string">
					<xs:minLength value="0"/>
					<xs:maxLength value="8"/>
				</xs:restriction>
			</xs:simpleType>
			<xs:simpleType name="currency">
				<xs:restriction base="xs:decimal">
					<xs:fractionDigits value="2"/>
					<xs:pattern value=".*\.[0-9][0-9]"/>
				</xs:restriction>
			</xs:simpleType>
			<xs:simpleType name="court_code">
				<xs:restriction base="xs:integer">
					<xs:pattern value="[0-9]{3}"/>
				</xs:restriction>
			</xs:simpleType>
		
			<xs:element name="request_type">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="CLAIM"/>
						<xs:enumeration value="JUDGMENT"/>
						<xs:enumeration value="PAID"/>
						<xs:enumeration value="WARRANT"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="status">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="ACCEPTED"/>
						<xs:enumeration value="PENDING"/>
						<xs:enumeration value="REJECTED"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="date_of_issue" type="xs:date"/>
			<xs:element name="date_of_service" type="xs:date"/>
			<xs:element name="enforcing_court_code">
				<xs:simpleType>
					<xs:restriction base="xs:integer">
						<xs:pattern value="[0-9]{3}"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="enforcing_court_name">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="0"/>
						<xs:maxLength value="40"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="fee">
				<xs:simpleType>
					<xs:restriction base="tns:currency">
						<xs:maxInclusive value="9999999.99"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="rejection_reason_code">
				<xs:simpleType>
					<xs:restriction base="xs:integer">
						<xs:pattern value="[0-9]{4}"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="rejection_reason_description">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="0"/>
						<xs:maxLength value="255"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
					
			<!-- IndividualUpdateRequest.xsd -->
			<xs:element name="sendIndividualUpdate" type="tns:sendIndividualUpdate"/>
			<xs:complexType name="sendIndividualUpdate">
				<xs:sequence>
					<xs:element name="individual_update" minOccurs="1"/>
				</xs:sequence>
			</xs:complexType>
			<xs:element name="individual_update">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="tns:sdt_reference"/>
						<xs:element ref="tns:updates" minOccurs="1" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="updates">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="tns:request_id"/>
						<xs:element ref="tns:request_type"/>
						<xs:element ref="tns:status"/>
						<xs:element ref="tns:case_number" minOccurs="0"/>
						<xs:element ref="tns:date_of_issue" minOccurs="0"/>
						<xs:element ref="tns:date_of_service" minOccurs="0"/>
						<xs:element ref="tns:rejection_reason_code" minOccurs="0"/>
						<xs:element ref="tns:rejection_reason_description" minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			
			<!-- IndividualUpdateResponse.xsd -->
			<xs:element name="getIndvUpdateResponse" type="tns:getIndvUpdateResponse"/>
			<xs:complexType name="getIndvUpdateResponse">
				<xs:sequence>
					<xs:element name="update_status" minOccurs="1"/>
				</xs:sequence>
			</xs:complexType>
			<xs:element name="update_status">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="SUCCESSFUL"/>
						<xs:enumeration value="FAILED"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:schema>
	</types>
	<message name="sendIndividualUpdate">
		<part name="parameters" element="tns:sendIndividualUpdate"/>
	</message>
	<message name="getIndvUpdateResponse">
		<part name="parameters" element="tns:getIndvUpdateResponse">
		</part>
	</message>
	<portType name="updateIndividualRequestPort">
		<operation name="sendIndividualUpdate">
			<input message="tns:sendIndividualUpdate" wsam:Action="http://commissioning-ws.sdt.moj.gov.uk/updateIndividualRequestWS/sendIndividualUpdate"/>
			<output message="tns:getIndvUpdateResponse" wsam:Action="http://commissioning-ws.sdt.moj.gov.uk/updateIndividualRequestWS/getIndvUpdateResponse"/>
		</operation>
	</portType>
	<binding name="updateIndividualRequestPortBinding" type="tns:updateIndividualRequestPort">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="sendIndividualUpdate">
			<soap:operation soapAction=""/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
	</binding>
	<service name="updateIndividualRequestService">
		<port name="updateIndividualRequestPort" binding="tns:updateIndividualRequestPortBinding">
			<soap:address location="http://commissioning-ws.sdt.moj.gov.uk/SecureBulkDataTransfer/updateIndividualRequest"/>
		</port>
	</service>
</definitions>
