producers-api/src/main/resources/xsd/BulkRequestResponse/BulkSubmitResponse.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://commissioning-ws.sdt.moj.gov.uk/" targetNamespace="http://commissioning-ws.sdt.moj.gov.uk/" elementFormDefault="qualified">
	<xs:include schemaLocation="..\RootXSDs\Base.xsd"/>
	<xs:element name="getFeedbackResponse" type="tns:getFeedbackResponse"/>
	<xs:complexType name="getFeedbackResponse">
		<xs:sequence>
			<xs:element name="feedback_response" minOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="feedback_response">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="tns:customer_code"/>
				<xs:element ref="tns:reference"/>
				<xs:element ref="tns:sdt_reference"/>
				<xs:element ref="tns:date_submitted"/>
				<xs:element ref="tns:number_of_requests"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="date_submitted" type="xs:dateTime"/>
</xs:schema>
