producers-api/src/main/resources/xsd/RequestBulkFeedback/BulkFeedbackResponse.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" 
    xmlns:tns="http://ws.sdt.moj.gov.uk" 
    targetNamespace="http://ws.sdt.moj.gov.uk" 
    elementFormDefault="qualified">
	
    <xs:include schemaLocation="../RootXSDs/Base.xsd"/>
    
    <xs:complexType name="bulkRequestStatusType">
        <xs:sequence>
            <xs:element name="sdtBulkReference" type="tns:sdtBulkReference"/>
            <xs:element name="requestCount" type="tns:requestCount"/>
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="responsesType">
        <xs:choice>
            <xs:element name="mcolResponses" type="tns:mcolResponsesType"/>
        </xs:choice>
    </xs:complexType>
    
    <xs:complexType name="mcolResponsesType">
        <xs:sequence>
            <xs:element name="mcolResponse" type="tns:mcolResponseType" minOccurs="1" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="responseType" abstract="true">
        <xs:attribute name="requestType" type="tns:requestType" use="required"/>
        <xs:attribute name="requestId" type="tns:requestId" use="required"/>
    </xs:complexType>

    <xs:complexType name="mcolResponseType">
        <xs:complexContent>
            <xs:extension base="tns:responseType">
                <xs:sequence>
                    <xs:element name="claimNumber" type="tns:documentNumber"  minOccurs="0"/>
                    <xs:element name="issueDate" type="xs:date" minOccurs="0"/>
                    <xs:element name="serviceDate" type="xs:date" minOccurs="0"/>
                    <xs:element name="warrantNumber" type="tns:documentNumber"  minOccurs="0"/>
                    <xs:element name="enforcingCourtCode" type="tns:courtCode"  minOccurs="0"/>
                    <xs:element name="enforcingCourtName" type="tns:courtName"  minOccurs="0"/>
                    <!-- TODO TBC with Hillary whether fee could be greater than max claim amount -->
                    <xs:element name="fee" type="tns:amountType999999999"  minOccurs="0"/>
                    <xs:element name="status" type="tns:createStatusType"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    
    <xs:complexType name="bulkFeedbackResponseType">
        <xs:sequence>
            <xs:element name="bulkRequestStatus" type="tns:bulkRequestStatusType"/>
            <xs:element name="responses" type="tns:responsesType"/>
        </xs:sequence>
    </xs:complexType>

	<xs:element name="bulkFeedbackResponse" type="tns:bulkFeedbackResponseType"/>

</xs:schema>