producers-api/src/main/resources/xsd/IndvRequestResponse/IndividualSubmitResponse.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" 
    xmlns:tns="http://ws.sdt.moj.gov.uk" 
    targetNamespace="http://ws.sdt.moj.gov.uk" 
    elementFormDefault="qualified">
	
    <xs:include schemaLocation="../RootXSDs/Base.xsd"/>

    <xs:complexType name="createResponseType">
        <xs:sequence>
            <xs:element name="sdtRequestId" type="tns:sdtRequestId"/>
            <xs:element name="claimNumber" type="tns:documentNumber"  minOccurs="0"/>
            <xs:element name="issueDate" type="xs:date" minOccurs="0"/>
            <xs:element name="serviceDate" type="xs:date" minOccurs="0"/>
            <xs:element name="warrantNumber" type="tns:documentNumber"  minOccurs="0"/>
            <xs:element name="enforcingCourtCode" type="tns:courtCode"  minOccurs="0"/>
            <xs:element name="enforcingCourtName" type="tns:courtName"  minOccurs="0"/>
            <xs:element name="fee" type="tns:amountType999999999"  minOccurs="0"/>
            <xs:element name="status" type="tns:createStatusType"/>
        </xs:sequence>
    </xs:complexType>

    <xs:element name="createResponse" type="tns:createResponseType"/>
    
 </xs:schema>
