utils/src/integ-test/resources/DTD/PUBLIC.dtd

<!ELEMENT dataset (
        BULK_CUSTOMERS*,
        BULK_CUSTOMER_APPLICATIONS*,
        BULK_SUBMISSIONS*,
        ERROR_LOGS*,
        ERROR_MESSAGES*,
        GLOBAL_PARAMETERS*,
        INDIVIDUAL_REQUESTS*,
        SERVICE_REQUESTS*,
        SERVICE_ROUTINGS*,
        SERVICE_TYPES*,
        TARGET_APPLICATIONS*
)>

<!ELEMENT TARGET_APPLICATIONS EMPTY>
<!ATTLIST TARGET_APPLICATIONS
    TARGET_APPLICATION_ID CDATA #REQUIRED
    TARGET_APPLICATION_CODE CDATA #IMPLIED
    TARGET_APPLICATION_NAME CDATA #IMPLIED
    VERSION_NUMBER CDATA #IMPLIED
>

<!ELEMENT BULK_CUSTOMERS EMPTY>
<!ATTLIST BULK_CUSTOMERS
    BULK_CUSTOMER_ID CDATA #REQUIRED
    SDT_CUSTOMER_ID CDATA #IMPLIED
    VERSION_NUMBER CDATA #IMPLIED
    READY_FOR_ALTERNATE_SERVICE CDATA #IMPLIED
>

<!ELEMENT BULK_CUSTOMER_APPLICATIONS EMPTY>
<!ATTLIST BULK_CUSTOMER_APPLICATIONS
    BULK_CUSTOMER_APPLICATIONS_ID CDATA #REQUIRED
    BULK_CUSTOMER_ID CDATA #REQUIRED
    TARGET_APPLICATION_ID CDATA #REQUIRED
    CUSTOMER_APPLICATION_ID CDATA #IMPLIED
    VERSION_NUMBER CDATA #IMPLIED
>

<!ELEMENT ERROR_LOGS EMPTY>
<!ATTLIST ERROR_LOGS
    ERROR_LOG_ID CDATA #REQUIRED
    INDIVIDUAL_REQUEST_ID CDATA #IMPLIED
    ERROR_CODE CDATA #IMPLIED
    CREATED_DATE CDATA #IMPLIED
    UPDATED_DATE CDATA #IMPLIED
    VERSION_NUMBER CDATA #IMPLIED
    ERROR_TEXT CDATA #IMPLIED
>

<!ELEMENT ERROR_MESSAGES EMPTY>
<!ATTLIST ERROR_MESSAGES
    ERROR_MESSAGE_ID CDATA #REQUIRED
    ERROR_CODE CDATA #IMPLIED
    ERROR_TEXT CDATA #IMPLIED
    ERROR_DESCRIPTION CDATA #IMPLIED
    VERSION_NUMBER CDATA #IMPLIED
>

<!ELEMENT GLOBAL_PARAMETERS EMPTY>
<!ATTLIST GLOBAL_PARAMETERS
    GLOBAL_PARAMETER_ID CDATA #REQUIRED
    PARAMETER_NAME CDATA #IMPLIED
    PARAMETER_VALUE CDATA #IMPLIED
    PARAMETER_DESCRIPTION CDATA #IMPLIED
    VERSION_NUMBER CDATA #IMPLIED
>

<!ELEMENT INDIVIDUAL_REQUESTS EMPTY>
<!ATTLIST INDIVIDUAL_REQUESTS
    INDIVIDUAL_REQUEST_ID CDATA #REQUIRED
    BULK_SUBMISSION_ID CDATA #IMPLIED
    CUSTOMER_REQUEST_REF CDATA #IMPLIED
    REQUEST_STATUS CDATA #IMPLIED
    SDT_BULK_REFERENCE CDATA #IMPLIED
    LINE_NUMBER CDATA #IMPLIED
    SDT_REQUEST_REFERENCE CDATA #IMPLIED
    CREATED_DATE CDATA #IMPLIED
    UPDATED_DATE CDATA #IMPLIED
    COMPLETED_DATE CDATA #IMPLIED
    FORWARDING_ATTEMPTS CDATA #IMPLIED
    TARGET_APPLICATION_RESPONSE CDATA #IMPLIED
    INTERNAL_SYSTEM_ERROR CDATA #IMPLIED
    REQUEST_TYPE CDATA #IMPLIED
    VERSION_NUMBER CDATA #IMPLIED
    INDIVIDUAL_PAYLOAD CDATA #IMPLIED
    DEAD_LETTER CDATA #IMPLIED
    ERROR_LOG_ID CDATA #IMPLIED
>

<!ELEMENT SERVICE_REQUESTS EMPTY>
<!ATTLIST SERVICE_REQUESTS
    SERVICE_REQUEST_ID CDATA #REQUIRED
    REQUEST_PAYLOAD CDATA #IMPLIED
    REQUEST_TIMESTAMP CDATA #IMPLIED
    RESPONSE_PAYLOAD CDATA #IMPLIED
    RESPONSE_TIMESTAMP CDATA #IMPLIED
    REQUEST_TYPE CDATA #IMPLIED
    SDT_CUSTOMER_ID CDATA #IMPLIED
    SDT_BULK_REFERENCE CDATA #IMPLIED
    VERSION_NUMBER CDATA #IMPLIED
>

<!ELEMENT BULK_SUBMISSIONS EMPTY>
<!ATTLIST BULK_SUBMISSIONS
    BULK_SUBMISSION_ID CDATA #REQUIRED
    BULK_CUSTOMER_ID CDATA #IMPLIED
    TARGET_APPLICATION_ID CDATA #IMPLIED
    SERVICE_REQUEST_ID CDATA #IMPLIED
    SDT_BULK_REFERENCE CDATA #IMPLIED
    CUSTOMER_REFERENCE CDATA #IMPLIED
    CREATED_DATE CDATA #IMPLIED
    NUMBER_OF_REQUESTS CDATA #IMPLIED
    BULK_SUBMISSION_STATUS CDATA #IMPLIED
    ERROR_CODE CDATA #IMPLIED
    ERROR_TEXT CDATA #IMPLIED
    COMPLETED_DATE CDATA #IMPLIED
    UPDATED_DATE CDATA #IMPLIED
    VERSION_NUMBER CDATA #IMPLIED
    BULK_PAYLOAD CDATA #IMPLIED
>

<!ELEMENT SERVICE_TYPES EMPTY>
<!ATTLIST SERVICE_TYPES
    SERVICE_TYPE_ID CDATA #REQUIRED
    SERVICE_TYPE_NAME CDATA #IMPLIED
    SERVICE_TYPE_STATUS CDATA #IMPLIED
    SERVICE_TYPE_DESCRIPTION CDATA #IMPLIED
    VERSION_NUMBER CDATA #IMPLIED
>

<!ELEMENT SERVICE_ROUTINGS EMPTY>
<!ATTLIST SERVICE_ROUTINGS
    SERVICE_ROUTINGS_ID CDATA #REQUIRED
    SERVICE_TYPE_ID CDATA #REQUIRED
    TARGET_APPLICATION_ID CDATA #REQUIRED
    WEB_SERVICE_ENDPOINT CDATA #IMPLIED
    VERSION_NUMBER CDATA #IMPLIED
>
