utils/src/integ-test/resources/DTD/SDT_OWNER.dtd

<!ELEMENT dataset (
    BULK_CUSTOMERS*,
    BULK_CUSTOMER_APPLICATIONS*,
    BULK_SUBMISSIONS*,
    ERROR_LOGS*,
    ERROR_MESSAGES*,
    GLOBAL_PARAMETERS*,
    INDIVIDUAL_REQUESTS*,
    MESSAGE_LOGS*,
    REQUEST_ROUTINGS*,
    REQUEST_TYPES*,
    TARGET_APPLICATIONS*)>

<!ELEMENT BULK_CUSTOMERS EMPTY>
<!ATTLIST BULK_CUSTOMERS
    BULK_CUSTOMER_ID CDATA #REQUIRED
    SDT_CUSTOMER_ID CDATA #IMPLIED
    VERSION_NUMBER CDATA #IMPLIED
>

<!ELEMENT BULK_CUSTOMER_APPLICATIONS EMPTY>
<!ATTLIST BULK_CUSTOMER_APPLICATIONS
    BULK_CUSTOMER_ID CDATA #REQUIRED
    TARGET_APPLICATION_ID CDATA #REQUIRED
    CUSTOMER_APPLICATION_ID CDATA #IMPLIED
    VERSION_NUMBER CDATA #IMPLIED
>

<!ELEMENT BULK_SUBMISSIONS EMPTY>
<!ATTLIST BULK_SUBMISSIONS
    BULK_SUBMISSION_ID CDATA #REQUIRED
    BULK_CUSTOMER_ID CDATA #IMPLIED
    TARGET_APPLICATION_ID CDATA #IMPLIED
    SDT_BULK_REFERENCE CDATA #IMPLIED
    CUSTOMER_REFERENCE CDATA #IMPLIED
    CREATED_DATE CDATA #IMPLIED
    NUMBER_OF_REQUESTS CDATA #IMPLIED
    BULK_SUBMISSION_STATUS CDATA #IMPLIED
    COMPLETED_DATE CDATA #IMPLIED
    UPDATED_DATE CDATA #IMPLIED
    VERSION_NUMBER CDATA #IMPLIED
    BULK_PAYLOAD CDATA #IMPLIED
>

<!ELEMENT ERROR_LOGS EMPTY>
<!ATTLIST ERROR_LOGS
    ERROR_LOG_ID CDATA #REQUIRED
    BULK_SUBMISSION_ID CDATA #IMPLIED
    INDIVIDUAL_REQUEST_ID CDATA #IMPLIED
    ERROR_CODE CDATA #IMPLIED
    CREATED_DATE CDATA #IMPLIED
    UPDATED_DATE CDATA #IMPLIED
    VERSION_NUMBER CDATA #IMPLIED
    ERROR_TEXT CDATA #IMPLIED
>

<!ELEMENT ERROR_MESSAGES EMPTY>
<!ATTLIST ERROR_MESSAGES
    ERROR_MESSAGE_ID CDATA #REQUIRED
    ERROR_CODE CDATA #IMPLIED
    ERROR_TEXT CDATA #IMPLIED
    ERROR_DESCRIPTION CDATA #IMPLIED
    VERSION_NUMBER CDATA #IMPLIED
>

<!ELEMENT GLOBAL_PARAMETERS EMPTY>
<!ATTLIST GLOBAL_PARAMETERS
    GLOBAL_PARAMETER_ID CDATA #REQUIRED
    PARAMETER_NAME CDATA #IMPLIED
    PARAMETER_VALUE CDATA #IMPLIED
    PARAMETER_DESCRIPTION CDATA #IMPLIED
    VERSION_NUMBER CDATA #IMPLIED
>

<!ELEMENT INDIVIDUAL_REQUESTS EMPTY>
<!ATTLIST INDIVIDUAL_REQUESTS
    INDIVIDUAL_REQUEST_ID CDATA #REQUIRED
    BULK_SUBMISSION_ID CDATA #IMPLIED
    REQUEST_TYPE_ID CDATA #IMPLIED
    CUSTOMER_REQUEST_REF CDATA #IMPLIED
    CASE_NUMBER CDATA #IMPLIED
    REQUEST_STATUS CDATA #IMPLIED
    ISSUED_DATE CDATA #IMPLIED
    SDT_BULK_REFERENCE CDATA #IMPLIED
    REQUEST_RETRY_COUNT CDATA #IMPLIED
    LINE_NUMBER CDATA #IMPLIED
    SDT_REQUEST_REFERENCE CDATA #IMPLIED
    CREATED_DATE CDATA #IMPLIED
    UPDATED_DATE CDATA #IMPLIED
    COMPLETED_DATE CDATA #IMPLIED
    SERVICE_DATE CDATA #IMPLIED
    WARRANT_NUMBER CDATA #IMPLIED
    ENFORCING_COURT_CODE CDATA #IMPLIED
    ENFORCING_COURT_NAME CDATA #IMPLIED
    FEE CDATA #IMPLIED
    VERSION_NUMBER CDATA #IMPLIED
    INDIVIDUAL_PAYLOAD CDATA #IMPLIED
>

<!ELEMENT MESSAGE_LOGS EMPTY>
<!ATTLIST MESSAGE_LOGS
    MESSAGE_LOG_ID CDATA #REQUIRED
    LOGGED_EVENT CDATA #IMPLIED
    DIRECTION CDATA #IMPLIED
    BULK_SUBMISSION_ID CDATA #IMPLIED
    SDT_BULK_REFERENCE CDATA #IMPLIED
    CUSTOMER_REFERENCE CDATA #IMPLIED
    NUMBER_OF_REQUESTS CDATA #IMPLIED
    CREATED_DATE CDATA #IMPLIED
    UPDATED_DATE CDATA #IMPLIED
    USER_INVESTIGATION CDATA #IMPLIED
    PAYLOAD CDATA #IMPLIED
    VERSION_NUMBER CDATA #IMPLIED
>

<!ELEMENT REQUEST_ROUTINGS EMPTY>
<!ATTLIST REQUEST_ROUTINGS
    REQUEST_TYPE_ID CDATA #REQUIRED
    TARGET_APPLICATION_ID CDATA #REQUIRED
    WEB_SERVICE_ENDPOINT CDATA #IMPLIED
    VERSION_NUMBER CDATA #IMPLIED
>

<!ELEMENT REQUEST_TYPES EMPTY>
<!ATTLIST REQUEST_TYPES
    REQUEST_TYPE_ID CDATA #REQUIRED
    REQUEST_TYPE_NAME CDATA #IMPLIED
    REQUEST_TYPE_STATUS CDATA #IMPLIED
    REQUEST_TYPE_DESCRIPTION CDATA #IMPLIED
    VERSION_NUMBER CDATA #IMPLIED
>

<!ELEMENT TARGET_APPLICATIONS EMPTY>
<!ATTLIST TARGET_APPLICATIONS
    TARGET_APPLICATION_ID CDATA #REQUIRED
    TARGET_APPLICATION_CODE CDATA #IMPLIED
    TARGET_APPLICATION_NAME CDATA #IMPLIED
    VERSION_NUMBER CDATA #IMPLIED
>

