producers-api/src/main/resources/xsd/AggregatedRequests/SubmitBulkRequest.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://commissioning-ws.sdt.moj.gov.uk/" targetNamespace="http://commissioning-ws.sdt.moj.gov.uk/" elementFormDefault="qualified">
	<!-- Base.xsd -->
	<!-- Customer code is a 4 digit number -->
	<xs:element name="customer_code">
		<xs:simpleType>
			<xs:restriction base="xs:integer">
				<xs:minInclusive value="1000"/>
				<xs:maxInclusive value="9999"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<!-- Request reference -->
	<xs:element name="request_id">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="0"/>
				<xs:maxLength value="24"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<!-- Case number is now an 8 digit number -->
	<xs:element name="case_number">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:pattern value="[0-9A-Za-z]{8}"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<!-- Warrant number is now an 8 digit number -->
	<xs:element name="warrant_number">
		<xs:simpleType>
			<xs:restriction base="xs:integer">
				<xs:pattern value="[0-9A-Za-z]{8}"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<!-- Defendant ID is Blank (all defendants), 1 or 2 -->
	<xs:element name="defendant_id">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:pattern value=" |1|2"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="defendant_address_line_1" type="tns:address_line"/>
	<xs:element name="defendant_address_line_2" type="tns:address_line"/>
	<xs:element name="defendant_address_line_3" type="tns:address_line"/>
	<xs:element name="defendant_address_line_4" type="tns:address_line"/>
	<xs:element name="defendant_address_line_5" type="tns:address_line"/>
	<xs:element name="defendant_postcode" type="tns:postcode"/>
	<!-- Custom types -->
	<xs:element name="reference">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="0"/>
				<xs:maxLength value="32"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
		<xs:element name="claimant_reference">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="0"/>
				<xs:maxLength value="24"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="number_of_requests">
		<xs:simpleType>
			<xs:restriction base="xs:integer">
				<xs:maxInclusive value="99999"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="sdt_reference">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="0"/>
				<xs:maxLength value="32"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
		<xs:element name="bulk_customer_id">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="0"/>
				<xs:maxLength value="32"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="SOT_facts_are_true_declaration">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:pattern value="[yY]|[nN]"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="SOT_name_on_particulars">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="0"/>
				<xs:maxLength value="32"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:simpleType name="address_line">
		<xs:restriction base="xs:string">
			<xs:minLength value="0"/>
			<xs:maxLength value="35"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="postcode">
		<xs:restriction base="xs:string">
			<xs:minLength value="0"/>
			<xs:maxLength value="8"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="currency">
		<xs:restriction base="xs:decimal">
			<xs:fractionDigits value="2"/>
			<xs:pattern value=".*\.[0-9][0-9]"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="court_code">
		<xs:restriction base="xs:integer">
			<xs:pattern value="[0-9]{3}"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:element name="request_type">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="CLAIM"/>
				<xs:enumeration value="JUDGMENT"/>
				<xs:enumeration value="PAID"/>
				<xs:enumeration value="WARRANT"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="status">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="ACCEPTED"/>
				<xs:enumeration value="PENDING"/>
				<xs:enumeration value="REJECTED"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="date_of_issue" type="xs:date"/>
	<xs:element name="date_of_service" type="xs:date"/>
	<xs:element name="enforcing_court_code">
		<xs:simpleType>
			<xs:restriction base="xs:integer">
				<xs:pattern value="[0-9]{3}"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="enforcing_court_name">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="0"/>
				<xs:maxLength value="40"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="fee">
		<xs:simpleType>
			<xs:restriction base="tns:currency">
				<xs:maxInclusive value="9999999.99"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="rejection_reason_code">
		<xs:simpleType>
			<xs:restriction base="xs:integer">
				<xs:pattern value="[0-9]{4}"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="rejection_reason_description">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="0"/>
				<xs:maxLength value="255"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	
	<!-- Claim.xsd -->
	<xs:element name="sendNewClaims" type="tns:sendNewClaims"/>
	<xs:complexType name="sendNewClaims">
		<xs:sequence>
			<xs:element ref="tns:claim" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="claim">
		<xs:complexType>
			<xs:all>
				<xs:element ref="tns:request_id"/>
				<xs:element ref="tns:claimant_reference" minOccurs="0"/>
				<xs:element ref="tns:claimant_name_line_1"/>
				<xs:element ref="tns:claimant_name_line_2" minOccurs="0"/>
				<xs:element ref="tns:claimant_address_line_1"/>
				<xs:element ref="tns:claimant_address_line_2"/>
				<xs:element ref="tns:claimant_address_line_3" minOccurs="0"/>
				<xs:element ref="tns:claimant_address_line_4" minOccurs="0"/>
				<xs:element ref="tns:claimant_address_line_5" minOccurs="0"/>
				<xs:element ref="tns:claimant_postcode"/>
				<xs:element ref="tns:defendant_1_name_line_1"/>
				<xs:element ref="tns:defendant_1_name_line_2" minOccurs="0"/>
				<xs:element ref="tns:defendant_1_address_line_1"/>
				<xs:element ref="tns:defendant_1_address_line_2"/>
				<xs:element ref="tns:defendant_1_address_line_3" minOccurs="0"/>
				<xs:element ref="tns:defendant_1_address_line_4" minOccurs="0"/>
				<xs:element ref="tns:defendant_1_address_line_5" minOccurs="0"/>
				<xs:element ref="tns:defendant_1_postcode"/>
				<xs:element ref="tns:defendant_2_name_line_1"/>
				<xs:element ref="tns:defendant_2_name_line_2" minOccurs="0"/>
				<xs:element ref="tns:defendant_2_address_line_1"/>
				<xs:element ref="tns:defendant_2_address_line_2"/>
				<xs:element ref="tns:defendant_2_address_line_3" minOccurs="0"/>
				<xs:element ref="tns:defendant_2_address_line_4" minOccurs="0"/>
				<xs:element ref="tns:defendant_2_address_line_5" minOccurs="0"/>
				<xs:element ref="tns:defendant_2_postcode"/>
				<xs:element ref="tns:claim_interest"/>
				<xs:element ref="tns:claim_amount"/>
				<xs:element ref="tns:claim_solicitors_costs" minOccurs="0"/>
				<xs:element ref="tns:claim_particulars_line_1"/>
				<xs:element ref="tns:claim_particulars_line_2"/>
				<xs:element ref="tns:claim_particulars_line_3"/>
				<xs:element ref="tns:claim_particulars_line_4"/>
				<xs:element ref="tns:claim_particulars_line_5"/>
				<xs:element ref="tns:claim_particulars_line_6"/>
				<xs:element ref="tns:claim_particulars_line_7"/>
				<xs:element ref="tns:claim_particulars_line_8"/>
				<xs:element ref="tns:claim_particulars_line_9"/>
				<xs:element ref="tns:claim_particulars_line_10"/>
				<xs:element ref="tns:claim_particulars_line_11"/>
				<xs:element ref="tns:claim_particulars_line_12"/>
				<xs:element ref="tns:claim_particulars_line_13"/>
				<xs:element ref="tns:claim_particulars_line_14"/>
				<xs:element ref="tns:claim_particulars_line_15"/>
				<xs:element ref="tns:claim_particulars_line_16"/>
				<xs:element ref="tns:claim_particulars_line_17"/>
				<xs:element ref="tns:claim_particulars_line_18"/>
				<xs:element ref="tns:claim_particulars_line_19"/>
				<xs:element ref="tns:claim_particulars_line_20"/>
				<xs:element ref="tns:claim_particulars_line_21"/>
				<xs:element ref="tns:claim_particulars_line_22"/>
				<xs:element ref="tns:claim_particulars_line_23"/>
				<xs:element ref="tns:claim_particulars_line_24"/>
				<xs:element ref="tns:date_owed_from" minOccurs="0"/>
				<xs:element ref="tns:daily_interest_amount" minOccurs="0"/>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:element name="claimant_name_line_1" type="tns:name_line"/>
	<xs:element name="claimant_name_line_2" type="tns:name_line"/>
	<xs:element name="claimant_address_line_1" type="tns:address_line"/>
	<xs:element name="claimant_address_line_2" type="tns:address_line"/>
	<xs:element name="claimant_address_line_3" type="tns:address_line"/>
	<xs:element name="claimant_address_line_4" type="tns:address_line"/>
	<xs:element name="claimant_address_line_5" type="tns:address_line"/>
	<xs:element name="claimant_postcode" type="tns:postcode"/>
	<xs:element name="defendant_1_name_line_1" type="tns:name_line"/>
	<xs:element name="defendant_1_name_line_2" type="tns:name_line"/>
	<xs:element name="defendant_1_address_line_1" type="tns:address_line"/>
	<xs:element name="defendant_1_address_line_2" type="tns:address_line"/>
	<xs:element name="defendant_1_address_line_3" type="tns:address_line"/>
	<xs:element name="defendant_1_address_line_4" type="tns:address_line"/>
	<xs:element name="defendant_1_address_line_5" type="tns:address_line"/>
	<xs:element name="defendant_1_postcode" type="tns:postcode"/>
	<xs:element name="defendant_2_name_line_1" type="tns:name_line"/>
	<xs:element name="defendant_2_name_line_2" type="tns:name_line"/>
	<xs:element name="defendant_2_address_line_1" type="tns:address_line"/>
	<xs:element name="defendant_2_address_line_2" type="tns:address_line"/>
	<xs:element name="defendant_2_address_line_3" type="tns:address_line"/>
	<xs:element name="defendant_2_address_line_4" type="tns:address_line"/>
	<xs:element name="defendant_2_address_line_5" type="tns:address_line"/>
	<xs:element name="defendant_2_postcode" type="tns:postcode"/>
	<!-- Claim Interest is Y or N -->
	<xs:element name="claim_interest">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:pattern value="[yY]|[nN]"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="claim_amount">
		<xs:simpleType>
			<xs:restriction base="tns:currency">
				<xs:maxInclusive value="99999.99"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="claim_solicitors_costs">
		<xs:simpleType>
			<xs:restriction base="tns:currency">
				<xs:maxInclusive value="999.99"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="claim_particulars_line_1" type="tns:claim_particulars"/>
	<xs:element name="claim_particulars_line_2" type="tns:claim_particulars"/>
	<xs:element name="claim_particulars_line_3" type="tns:claim_particulars"/>
	<xs:element name="claim_particulars_line_4" type="tns:claim_particulars"/>
	<xs:element name="claim_particulars_line_5" type="tns:claim_particulars"/>
	<xs:element name="claim_particulars_line_6" type="tns:claim_particulars"/>
	<xs:element name="claim_particulars_line_7" type="tns:claim_particulars"/>
	<xs:element name="claim_particulars_line_8" type="tns:claim_particulars"/>
	<xs:element name="claim_particulars_line_9" type="tns:claim_particulars"/>
	<xs:element name="claim_particulars_line_10" type="tns:claim_particulars"/>
	<xs:element name="claim_particulars_line_11" type="tns:claim_particulars"/>
	<xs:element name="claim_particulars_line_12" type="tns:claim_particulars"/>
	<xs:element name="claim_particulars_line_13" type="tns:claim_particulars"/>
	<xs:element name="claim_particulars_line_14" type="tns:claim_particulars"/>
	<xs:element name="claim_particulars_line_15" type="tns:claim_particulars"/>
	<xs:element name="claim_particulars_line_16" type="tns:claim_particulars"/>
	<xs:element name="claim_particulars_line_17" type="tns:claim_particulars"/>
	<xs:element name="claim_particulars_line_18" type="tns:claim_particulars"/>
	<xs:element name="claim_particulars_line_19" type="tns:claim_particulars"/>
	<xs:element name="claim_particulars_line_20" type="tns:claim_particulars"/>
	<xs:element name="claim_particulars_line_21" type="tns:claim_particulars"/>
	<xs:element name="claim_particulars_line_22" type="tns:claim_particulars"/>
	<xs:element name="claim_particulars_line_23" type="tns:claim_particulars"/>
	<xs:element name="claim_particulars_line_24" type="tns:claim_particulars"/>
	<!-- Custom types -->
	<xs:simpleType name="name_line">
		<xs:restriction base="xs:string">
			<xs:minLength value="0"/>
			<xs:maxLength value="35"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="claim_particulars">
		<xs:restriction base="xs:string">
			<xs:minLength value="0"/>
			<xs:maxLength value="45"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="date_owed_from" type="xs:date"/>
	<xs:element name="daily_interest_amount">
		<xs:simpleType>
			<xs:restriction base="tns:currency">
				<xs:maxInclusive value="9999.99"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	
	<!-- Judgement.xsd -->
	<xs:element name="sendNewJudgements" type="tns:sendNewJudgements"/>
	<xs:complexType name="sendNewJudgements">
		<xs:sequence>
			<xs:element ref="tns:judgement" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="judgement">
		<xs:complexType>
			<xs:all>
				<xs:element ref="tns:case_number"/>
				<xs:element ref="tns:defendant_id"/>
				<xs:element ref="tns:defendant_address_line_1"/>
				<xs:element ref="tns:defendant_address_line_2"/>
				<xs:element ref="tns:defendant_address_line_3" minOccurs="0"/>
				<xs:element ref="tns:defendant_address_line_4" minOccurs="0"/>
				<xs:element ref="tns:defendant_address_line_5" minOccurs="0"/>
				<xs:element ref="tns:defendant_postcode"/>
				<xs:element ref="tns:defendant_date_of_birth" minOccurs="0"/>
				<xs:element ref="tns:judgment_type"/>
				<xs:element ref="tns:joint_judgment" minOccurs="0"/>
				<xs:element ref="tns:judgment_amount"/>
				<xs:element ref="tns:interest" minOccurs="0"/>
				<xs:element ref="tns:total_costs" minOccurs="0"/>
				<xs:element ref="tns:paid_before_judgment" minOccurs="0"/>
				<xs:element ref="tns:judgment_total"/>
				<xs:element ref="tns:instalment_amount" minOccurs="0"/>
				<xs:element ref="tns:instalment_frequency" minOccurs="0"/>
				<xs:element ref="tns:date_of_first_payment" minOccurs="0"/>
				<xs:element ref="tns:payee_name"/>
				<xs:element ref="tns:payee_address_line_1"/>
				<xs:element ref="tns:payee_address_line_2"/>
				<xs:element ref="tns:payee_address_line_3" minOccurs="0"/>
				<xs:element ref="tns:payee_address_line_4" minOccurs="0"/>
				<xs:element ref="tns:payee_address_line_5" minOccurs="0"/>
				<xs:element ref="tns:payee_postcode"/>
				<xs:element ref="tns:payee_telephone" minOccurs="0"/>
				<xs:element ref="tns:payee_reference" minOccurs="0"/>
				<xs:element ref="tns:payee_sort_code" minOccurs="0"/>
				<xs:element ref="tns:payee_bank_account_number" minOccurs="0"/>
				<xs:element ref="tns:payee_bank_name" minOccurs="0"/>
				<xs:element ref="tns:payee_bank_info_1" minOccurs="0"/>
				<xs:element ref="tns:payee_bank_info_2" minOccurs="0"/>
				<xs:element ref="tns:payee_girobank_account_number" minOccurs="0"/>
				<xs:element ref="tns:payment_slip_codeline_1" minOccurs="0"/>
				<xs:element ref="tns:payment_slip_codeline_2" minOccurs="0"/>
				<xs:element ref="tns:payee_girobank_transaction_code_1" minOccurs="0"/>
				<xs:element ref="tns:payee_girobank_transaction_code_2" minOccurs="0"/>
				<xs:element ref="tns:payee_apacs_code" minOccurs="0"/>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<!-- I think we should upgrade to 4 digit years -->
	<xs:element name="defendant_date_of_birth" type="xs:date"/>
	<!-- This is a yes or no field, and we should be case insensitive -->
	<xs:element name="registered_office">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:pattern value="[yY]|[nN]"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<!-- Values here should be A or D only -->
	<xs:element name="judgment_type">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:pattern value="[aA]|[dD]"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<!-- Values here should be Y or N or space only. I think we can update this 
		to be Y or N with space becoming no node -->
	<xs:element name="joint_judgment">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:pattern value="[yY]|[nN]| "/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<!-- Currency data types, xs:maxInclusive is the only way to get length checks to work -->
	<xs:element name="judgment_amount">
		<xs:simpleType>
			<xs:restriction base="tns:currency">
				<xs:maxInclusive value="999999.99"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="interest">
		<xs:simpleType>
			<xs:restriction base="tns:currency">
				<xs:maxInclusive value="99999.99"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="total_costs">
		<xs:simpleType>
			<xs:restriction base="tns:currency">
				<xs:maxInclusive value="999.99"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="paid_before_judgment">
		<xs:simpleType>
			<xs:restriction base="tns:currency">
				<xs:maxInclusive value="999999.99"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="judgment_total">
		<xs:simpleType>
			<xs:restriction base="tns:currency">
				<xs:maxInclusive value="999999.99"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="instalment_amount">
		<xs:simpleType>
			<xs:restriction base="tns:currency">
				<xs:maxInclusive value="999999.99"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="instalment_frequency">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:pattern value="[mM]|[fF]|[wW] "/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="date_of_first_payment" type="xs:date"/>
	<xs:element name="payee_name">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="0"/>
				<xs:maxLength value="70"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="payee_address_line_1" type="tns:address_line"/>
	<xs:element name="payee_address_line_2" type="tns:address_line"/>
	<xs:element name="payee_address_line_3" type="tns:address_line"/>
	<xs:element name="payee_address_line_4" type="tns:address_line"/>
	<xs:element name="payee_address_line_5" type="tns:address_line"/>
	<xs:element name="payee_postcode" type="tns:postcode"/>
	<xs:element name="payee_telephone">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:pattern value="[0-9]([- ]) "/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="payee_reference">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="0"/>
				<xs:maxLength value="24"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="payment_slip_codeline_1">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="0"/>
				<xs:maxLength value="58"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="payment_slip_codeline_2">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="0"/>
				<xs:maxLength value="100"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="payee_sort_code">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="0"/>
				<xs:maxLength value="8"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="payee_bank_account_holder">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="0"/>
				<xs:maxLength value="70"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="payee_bank_name">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="0"/>
				<xs:maxLength value="30"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="payee_bank_info_1">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="0"/>
				<xs:maxLength value="30"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="payee_bank_info_2">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="0"/>
				<xs:maxLength value="30"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="payee_girobank_account_number">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="0"/>
				<xs:maxLength value="8"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="payee_bank_account_number">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="0"/>
				<xs:maxLength value="18"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="payee_girobank_transaction_code_1">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="0"/>
				<xs:maxLength value="9"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="payee_girobank_transaction_code_2">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="0"/>
				<xs:maxLength value="2"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="payee_apacs_code">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="0"/>
				<xs:maxLength value="2"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	
	<!-- Paid.xsd -->
	<xs:element name="sendNewPaid" type="tns:sendNewPaid"/>
	<xs:complexType name="sendNewPaid">
		<xs:sequence>
			<xs:element ref="tns:paid" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="paid">
		<xs:complexType>
			<xs:all>
				<xs:element ref="tns:case_number"/>
				<xs:element ref="tns:notification_type"/>
				<xs:element ref="tns:defendant_id" minOccurs="0"/>
				<xs:element ref="tns:date_of_last_payment" minOccurs="0"/>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:element name="notification_type">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:pattern value="[pP]|[oO]|[wW]|[dD]"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="date_of_last_payment" type="xs:date"/>
	
	<!-- Warrant.xsd -->
	<xs:element name="sendNewWarrants" type="tns:sendNewWarrants"/>
	<xs:complexType name="sendNewWarrants">
		<xs:sequence>
			<xs:element ref="tns:warrant" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="warrant">
		<xs:complexType>
			<xs:all>
				<xs:element ref="tns:request_id"/>
				<xs:element ref="tns:case_number"/>
				<xs:element ref="tns:claimant_reference" minOccurs="0"/>
				<xs:element ref="tns:defendant_id"/>
				<xs:element ref="tns:defendant_address_line_1"/>
				<xs:element ref="tns:defendant_address_line_2"/>
				<xs:element ref="tns:defendant_address_line_3" minOccurs="0"/>
				<xs:element ref="tns:defendant_address_line_4" minOccurs="0"/>
				<xs:element ref="tns:defendant_address_line_5" minOccurs="0"/>
				<xs:element ref="tns:defendant_postcode"/>
				<xs:element ref="tns:balance_of_debt"/>
				<xs:element ref="tns:amount_of_warrant"/>
				<xs:element ref="tns:solicitors_costs" minOccurs="0"/>
				<xs:element ref="tns:additional_notes" minOccurs="0"/>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:element name="balance_of_debt">
		<xs:simpleType>
			<xs:restriction base="tns:currency">
				<xs:maxInclusive value="99999.99"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="amount_of_warrant">
		<xs:simpleType>
			<xs:restriction base="tns:currency">
				<xs:maxInclusive value="99999.99"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="solicitors_costs">
		<xs:simpleType>
			<xs:restriction base="tns:currency">
				<xs:maxInclusive value="999.99"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="additional_notes">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="0"/>
				<xs:maxLength value="120"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	
	<!-- JudgmentForthwith.xsd -->
	<xs:element name="sendNewJudgmentForthwiths" type="tns:sendNewJudgmentForthwiths" />
	<xs:complexType name="sendNewJudgmentForthwiths">
		<xs:sequence>
			<xs:element ref="tns:judgment_forthwith" minOccurs="1" />
		</xs:sequence>
	</xs:complexType>
	<xs:element name="judgment_forthwith">
		<xs:complexType>
			<xs:all>
				<xs:element ref="tns:request_id"/>
				<xs:element ref="tns:case_number"/>
				<xs:element ref="tns:claimant_reference" minOccurs="0"/>
				<xs:element ref="tns:defendant_id"/>
				<xs:element ref="tns:defendant_address_line_1"/>
				<xs:element ref="tns:defendant_address_line_2"/>
				<xs:element ref="tns:defendant_address_line_3" minOccurs="0"/>
				<xs:element ref="tns:defendant_address_line_4" minOccurs="0"/>
				<xs:element ref="tns:defendant_address_line_5" minOccurs="0"/>
				<xs:element ref="tns:defendant_postcode"/>
				<xs:element ref="tns:defendant_date_of_birth" minOccurs="0"/>
				<xs:element ref="tns:judgment_type"/>
				<xs:element ref="tns:joint_judgment" minOccurs="0"/>
				<xs:element ref="tns:judgment_amount"/>
				<xs:element ref="tns:interest" minOccurs="0"/>
				<xs:element ref="tns:total_costs" minOccurs="0"/>
				<xs:element ref="tns:paid_before_judgment" minOccurs="0"/>
				<xs:element ref="tns:judgment_total"/>
				<xs:element ref="tns:instalment_amount" minOccurs="0"/>
				<xs:element ref="tns:instalment_frequency" minOccurs="0"/>
				<xs:element ref="tns:date_of_first_payment" minOccurs="0"/>
				<xs:element ref="tns:payee_name"/>
				<xs:element ref="tns:payee_address_line_1"/>
				<xs:element ref="tns:payee_address_line_2"/>
				<xs:element ref="tns:payee_address_line_3" minOccurs="0"/>
				<xs:element ref="tns:payee_address_line_4" minOccurs="0"/>
				<xs:element ref="tns:payee_address_line_5" minOccurs="0"/>
				<xs:element ref="tns:payee_postcode"/>
				<xs:element ref="tns:payee_telephone" minOccurs="0"/>
				<xs:element ref="tns:payee_reference" minOccurs="0"/>
				<xs:element ref="tns:payee_sort_code" minOccurs="0"/>
				<xs:element ref="tns:payee_bank_account_number" minOccurs="0"/>
				<xs:element ref="tns:payee_bank_name" minOccurs="0"/>
				<xs:element ref="tns:payee_bank_info_1" minOccurs="0"/>
				<xs:element ref="tns:payee_bank_info_2" minOccurs="0"/>
				<xs:element ref="tns:payee_girobank_account_number" minOccurs="0"/>
				<xs:element ref="tns:payment_slip_codeline_1" minOccurs="0"/>
				<xs:element ref="tns:payment_slip_codeline_2" minOccurs="0"/>
				<xs:element ref="tns:payee_girobank_transaction_code_1" minOccurs="0"/>
				<xs:element ref="tns:payee_girobank_transaction_code_2" minOccurs="0"/>
				<xs:element ref="tns:payee_apacs_code" minOccurs="0"/>
				<xs:element ref="tns:balance_of_debt"/>
				<xs:element ref="tns:amount_of_warrant"/>
				<xs:element ref="tns:solicitors_costs" minOccurs="0"/>
				<xs:element ref="tns:additional_notes" minOccurs="0"/>
			</xs:all>
		</xs:complexType>
	</xs:element>
		
	<!-- BulkSubmitRequest.xsd -->
	<xs:element name="sendBulkData" type="tns:sendBulkData"/>
	<xs:complexType name="sendBulkData">
		<xs:sequence>
			<xs:element name="bulk_data" minOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="bulk_data">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="tns:customer_code"/>
				<xs:element ref="tns:reference"/>
				<xs:element ref="tns:number_of_requests"/>
				<xs:element ref="tns:SOT_facts_are_true_declaration"/>
				<xs:element ref="tns:SOT_name_on_particulars"/>
				<xs:element ref="tns:requests" minOccurs="1" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="requests">
		<xs:complexType>
			<xs:all>
				<xs:element ref="tns:sendNewClaims" minOccurs="0"/>
				<xs:element ref="tns:sendNewJudgements" minOccurs="0"/>
				<xs:element ref="tns:sendNewPaid" minOccurs="0"/>
				<xs:element ref="tns:sendNewWarrants" minOccurs="0"/>
				<xs:element ref="tns:sendNewJudgmentForthwiths" minOccurs="0"/>
			</xs:all>
		</xs:complexType>
	</xs:element>
	
	<!-- BulkSubmitResponse.xsd -->
	<xs:element name="getFeedbackResponse" type="tns:getFeedbackResponse"/>
	<xs:complexType name="getFeedbackResponse">
		<xs:sequence>
			<xs:element name="feedback_response" minOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="feedback_response">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="tns:customer_code"/>
				<xs:element ref="tns:reference"/>
				<xs:element ref="tns:sdt_reference"/>
				<xs:element ref="tns:date_submitted"/>
				<xs:element ref="tns:number_of_requests"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="date_submitted" type="xs:dateTime"/>
</xs:schema>
