producers-api/src/main/resources/xsd/RootXSDs/Base.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://ws.sdt.moj.gov.uk/common" 
	targetNamespace="http://ws.sdt.moj.gov.uk/common" elementFormDefault="qualified">
	<!-- Customer code is a 4 digit number -->
	<xs:element name="customerCode">
		<xs:simpleType>
			<xs:restriction base="xs:integer">
				<xs:minInclusive value="1000"/>
				<xs:maxInclusive value="9999"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<!-- Request reference -->
	<xs:element name="requestId">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="0"/>
				<xs:maxLength value="24"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<!-- Case number is now an 8 digit number -->
	<xs:element name="caseNumber">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:pattern value="[0-9A-Za-z]{8}"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<!-- Warrant number is now an 8 digit number -->
	<xs:element name="warrantNumber">
		<xs:simpleType>
			<xs:restriction base="xs:integer">
				<xs:pattern value="[0-9A-Za-z]{8}"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<!-- Defendant ID is Blank (all defendants), 1 or 2 -->
	<xs:element name="defendantId">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:pattern value=" |1|2"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="defendantAddressLine1" type="tns:addressLine"/>
	<xs:element name="defendantAddressLine2" type="tns:addressLine"/>
	<xs:element name="defendantAddressLine3" type="tns:addressLine"/>
	<xs:element name="defendantAddressLine4" type="tns:addressLine"/>
	<xs:element name="defendantAddressLine5" type="tns:addressLine"/>
	<xs:element name="defendantPostcode" type="tns:postcode"/>
	<!-- Custom types -->
	<xs:element name="reference">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="0"/>
				<xs:maxLength value="32"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
		<xs:element name="claimantReference">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="0"/>
				<xs:maxLength value="24"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="numberOfRequests">
		<xs:simpleType>
			<xs:restriction base="xs:integer">
				<xs:maxInclusive value="99999"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="sdtReference">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="0"/>
				<xs:maxLength value="32"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
		<xs:element name="bulkCustomerId">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="0"/>
				<xs:maxLength value="32"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="SotFactsAreTrueDeclaration">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:pattern value="[yY]|[nN]"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="SotNameOnParticulars">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="0"/>
				<xs:maxLength value="32"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:simpleType name="addressLine">
		<xs:restriction base="xs:string">
			<xs:minLength value="0"/>
			<xs:maxLength value="35"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="postcode">
		<xs:restriction base="xs:string">
			<xs:minLength value="0"/>
			<xs:maxLength value="8"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="currency">
		<xs:restriction base="xs:decimal">
			<xs:fractionDigits value="2"/>
			<xs:pattern value=".*\.[0-9][0-9]"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="courtCode">
		<xs:restriction base="xs:integer">
			<xs:pattern value="[0-9]{3}"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:element name="requestType">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="CLAIM"/>
				<xs:enumeration value="JUDGMENT"/>
				<xs:enumeration value="PAID"/>
				<xs:enumeration value="WARRANT"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="status">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="ACCEPTED"/>
				<xs:enumeration value="PENDING"/>
				<xs:enumeration value="REJECTED"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="dateOfIssue" type="xs:date"/>
	<xs:element name="dateOfService" type="xs:date"/>
	<xs:element name="enforcingCourtCode">
		<xs:simpleType>
			<xs:restriction base="xs:integer">
				<xs:pattern value="[0-9]{3}"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="enforcingCourtName">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="0"/>
				<xs:maxLength value="40"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="fee">
		<xs:simpleType>
			<xs:restriction base="tns:currency">
				<xs:maxInclusive value="9999999.99"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="rejectionReasonCode">
		<xs:simpleType>
			<xs:restriction base="xs:integer">
				<xs:pattern value="[0-9]{4}"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="rejectionReasonDescription">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="0"/>
				<xs:maxLength value="255"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
</xs:schema>