producers-api/src/main/resources/xsd/RootXSDs/Base.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:tns="http://ws.sdt.moj.gov.uk" 
    targetNamespace="http://ws.sdt.moj.gov.uk"
	elementFormDefault="qualified">

    <!-- TODO Confirm data type -->
    <xs:simpleType name="sdtCustomerId">
        <xs:restriction base="tns:stringMaxLength24"/>
    </xs:simpleType>

    <!-- TODO Confirm data type -->
    <xs:simpleType name="sdtBulkReference">
        <xs:restriction base="tns:stringMaxLength24"/>
    </xs:simpleType>

    <xs:simpleType name="targetSystemId">
        <xs:restriction base="xs:string">
            <xs:enumeration value="mcol" />
        </xs:restriction>
    </xs:simpleType>

    <!-- TODO Confirm data type and is it needed? Or NCP ID sufficient? -->
	<xs:simpleType name="customerCode">
		<xs:restriction base="xs:integer">
			<xs:minInclusive value="1000" />
			<xs:maxInclusive value="9999" />
		</xs:restriction>
	</xs:simpleType>

    <!-- TODO Confirm data type -->
    <xs:simpleType name="ncpId">
        <xs:restriction base="xs:string">
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>

	<!-- Document number is now an 8 digit number -->
	<xs:simpleType name="documentNumber">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9A-Za-z]{8}" />
		</xs:restriction>
	</xs:simpleType>

    <xs:simpleType name="claimantReference">
        <xs:restriction base="tns:stringMaxLength24"/>
    </xs:simpleType>

	<!-- Defendant ID is Blank (all defendants), 1 or 2 -->
	<xs:simpleType name="defendantIdType">
		<xs:restriction base="xs:string">
			<xs:pattern value=" |1|2" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="stringMaxLength8">
		<xs:restriction base="xs:string">
			<xs:minLength value="0" />
			<xs:maxLength value="8" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="stringMaxLength24">
		<xs:restriction base="xs:string">
			<xs:minLength value="0" />
			<xs:maxLength value="24" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="stringMaxLength30">
		<xs:restriction base="xs:string">
			<xs:minLength value="0" />
			<xs:maxLength value="30" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="stringMaxLength32">
		<xs:restriction base="xs:string">
			<xs:minLength value="0" />
			<xs:maxLength value="32" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="stringMaxLength40">
		<xs:restriction base="xs:string">
			<xs:minLength value="0" />
			<xs:maxLength value="40" />
		</xs:restriction>
	</xs:simpleType>
    <xs:simpleType name="stringMaxLength60">
        <xs:restriction base="xs:string">
            <xs:minLength value="0" />
            <xs:maxLength value="60" />
        </xs:restriction>
    </xs:simpleType>
	<xs:simpleType name="stringMaxLength120">
		<xs:restriction base="xs:string">
			<xs:minLength value="0" />
			<xs:maxLength value="120" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="stringMaxLength255">
		<xs:restriction base="xs:string">
			<xs:minLength value="0" />
			<xs:maxLength value="255" />
		</xs:restriction>
	</xs:simpleType>

    <xs:complexType name="sotSignature">
        <xs:sequence>
            <xs:element name="name" type="tns:stringMaxLength60"/>
        </xs:sequence>
    </xs:complexType>

	<xs:simpleType name="currencyType">
		<xs:restriction base="xs:decimal">
			<xs:fractionDigits value="2" />
			<xs:pattern value=".*\.[0-9][0-9]" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="courtCodeType">
		<xs:restriction base="xs:integer">
			<xs:pattern value="[0-9]{3}" />
		</xs:restriction>
	</xs:simpleType>
    <xs:simpleType name="postcodeType">
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9A-Za-z]{8}" />
        </xs:restriction>
    </xs:simpleType>
	<xs:complexType name="address">
		<xs:sequence>
            <!-- TODO EIS mentions length as 35 but db only supports 30 -->
			<xs:element name="line1" type="tns:stringMaxLength30" />
			<xs:element name="line2" type="tns:stringMaxLength30" />
			<xs:element name="line3" type="tns:stringMaxLength30" minOccurs="0" />
			<xs:element name="line4" type="tns:stringMaxLength30" minOccurs="0" />
			<xs:element name="line5" type="tns:stringMaxLength30" minOccurs="0" />
			<xs:element name="postcode" type="tns:postcodeType" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="person">
		<xs:annotation>
			<xs:documentation>
				Describes a person
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="name" type="tns:stringMaxLength60" />
			<xs:element name="address" type="tns:address" />
		</xs:sequence>
	</xs:complexType>

    <!-- TODO Confirm request id type -->
    <xs:simpleType name="requestId">
        <xs:restriction base="xs:string">
            <xs:maxLength value="24"/>
        </xs:restriction>
    </xs:simpleType>

    <!-- TODO Confirm data type -->
    <xs:simpleType name="sdtRequestId">
        <xs:restriction base="xs:string">
            <xs:maxLength value="24"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="requestType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="mcolClaim"/>
            <xs:enumeration value="mcolJudgment"/>
            <xs:enumeration value="mcolJudgmentForthwith"/>
            <xs:enumeration value="mcolWarrant"/>
            <xs:enumeration value="mcolPaid"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="amountType99999999">
        <xs:restriction base="xs:integer">
            <xs:minInclusive value="0"/>
            <xs:maxInclusive value="99999999"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="amountType9999999">
        <xs:restriction base="xs:integer">
            <xs:minInclusive value="0"/>
            <xs:maxInclusive value="9999999"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="amountType999999">
        <xs:restriction base="xs:integer">
            <xs:minInclusive value="0" />
            <xs:maxInclusive value="999999" />
        </xs:restriction>
    </xs:simpleType>
	<xs:simpleType name="currenyTypeMaxValue999p99">
		<xs:restriction base="tns:currencyType">
			<xs:maxInclusive value="999.99" />
		</xs:restriction>
	</xs:simpleType>
    <xs:simpleType name="currenyTypeMaxValue9999p99">
        <xs:restriction base="tns:currencyType">
            <xs:maxInclusive value="9999.99" />
        </xs:restriction>
    </xs:simpleType>
	<xs:simpleType name="currenyTypeMaxValue99999p99">
		<xs:restriction base="tns:currencyType">
			<xs:maxInclusive value="99999.99" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="currenyTypeMaxValue999999p99">
		<xs:restriction base="tns:currencyType">
			<xs:maxInclusive value="9999999.99" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="rejectionReasonCodeType">
		<xs:restriction base="xs:integer">
			<xs:pattern value="[0-9]{4}" />
		</xs:restriction>
	</xs:simpleType>
    
    <xs:simpleType name="statusCode">
        <xs:restriction base="xs:string">
            <xs:enumeration value="OK"/>
            <xs:enumeration value="ERROR"/>
        </xs:restriction>
    </xs:simpleType>
    
    <xs:simpleType name="createStatusCode">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ACCEPTED"/>
            <xs:enumeration value="INITIALLY_ACCEPTED"/>
            <xs:enumeration value="REJECTED"/>
            <xs:enumeration value="ERROR"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="error">
        <xs:sequence>
            <!-- TODO Agree on type -->
			<xs:element name="code" type="tns:stringMaxLength8" />
			<xs:element name="description" type="tns:stringMaxLength255" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="status">
        <xs:sequence>
            <xs:element name="error" type="tns:error" minOccurs="0"/>
        </xs:sequence>
        <xs:attribute name="code" type="tns:statusCode"></xs:attribute>
    </xs:complexType>
    
    <xs:complexType name="createStatus">
        <xs:sequence>
            <xs:element name="error" type="tns:error" minOccurs="0"/>
        </xs:sequence>
        <xs:attribute name="code" type="tns:createStatusCode"></xs:attribute>
    </xs:complexType>
    
</xs:schema>