producers-api/src/main/resources/xsd/RootXSDs/Base.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" 
    xmlns:tns="http://ws.sdt.moj.gov.uk/common" 
	targetNamespace="http://ws.sdt.moj.gov.uk/common" 
    elementFormDefault="qualified">
    
	<xs:element name="customerCode">
        <xs:annotation>
            <xs:documentation>Customer code is a 4 digit number</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
			<xs:restriction base="xs:integer">
				<xs:minInclusive value="1000"/>
				<xs:maxInclusive value="9999"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
    <xs:element name="systemId">
        <xs:annotation>
            <xs:documentation>
                <![CDATA[
                    System Identifier - MCOL for now. More systems could be made available in future.
                ]]>
            </xs:documentation>
        </xs:annotation>
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:enumeration value="MCOL"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>
    <!-- TODO:SA Check length of field and data type. This is a new field. -->
	<!-- Request reference -->
	<xs:element name="requestId">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="0"/>
				<xs:maxLength value="24"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<!-- Case number is now an 8 digit number -->
	<xs:element name="caseNumber">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:pattern value="[0-9A-Za-z]{8}"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<!-- Warrant number is now an 8 digit number -->
	<xs:element name="warrantNumber">
		<xs:simpleType>
			<xs:restriction base="xs:integer">
				<xs:pattern value="[0-9A-Za-z]{8}"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<!-- Defendant ID is Blank (all defendants), 1 or 2 -->
	<xs:element name="defendantId">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:pattern value=" |1|2"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="defendantAddressLine1" type="tns:addressLine"/>
	<xs:element name="defendantAddressLine2" type="tns:addressLine"/>
	<xs:element name="defendantAddressLine3" type="tns:addressLine"/>
	<xs:element name="defendantAddressLine4" type="tns:addressLine"/>
	<xs:element name="defendantAddressLine5" type="tns:addressLine"/>
	<xs:element name="defendantPostcode" type="tns:postcode"/>

	<!-- Custom types -->
	<xs:element name="reference">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="0"/>
				<xs:maxLength value="32"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="claimantReference">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="0"/>
				<xs:maxLength value="24"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="numberOfRequests">
		<xs:simpleType>
			<xs:restriction base="xs:integer">
				<xs:maxInclusive value="99999"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="sdtReference">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="0"/>
				<xs:maxLength value="32"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
		<xs:element name="bulkCustomerId">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="0"/>
				<xs:maxLength value="32"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="sotFactsAreTrueDeclaration" >
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:pattern value="[yY]|[nN]"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
    <!-- TODO:SA Confirm length. MCOL schema supports 64 characters -->
	<xs:element name="sotNameOnParticulars">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="0"/>
				<xs:maxLength value="32"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
    <xs:simpleType name="nameType">
        <xs:restriction base="xs:string">
            <xs:minLength value="0"/>
            <xs:maxLength value="30"/>
        </xs:restriction>
    </xs:simpleType>
	<xs:simpleType name="addressLine">
		<xs:restriction base="xs:string">
			<xs:minLength value="0"/>
			<xs:maxLength value="30"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- TODO Remove postcode and use postcodeType -->
	<xs:simpleType name="postcode">
		<xs:restriction base="xs:string">
			<xs:minLength value="0"/>
			<xs:maxLength value="8"/>
		</xs:restriction>
	</xs:simpleType>
    <xs:simpleType name="postcodeType">
        <xs:restriction base="xs:string">
            <xs:minLength value="0"/>
            <xs:maxLength value="8"/>
        </xs:restriction>
    </xs:simpleType>
	<xs:simpleType name="currency">
		<xs:restriction base="xs:decimal">
			<xs:fractionDigits value="2"/>
			<xs:pattern value=".*\.[0-9][0-9]"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="courtCode">
		<xs:restriction base="xs:integer">
			<xs:pattern value="[0-9]{3}"/>
		</xs:restriction>
	</xs:simpleType>
    <xs:complexType name="address">
        <xs:sequence>
            <xs:element name="line1" type="tns:addressLine"/>
            <xs:element name="line2" type="tns:addressLine"/>
            <xs:element name="line3" type="tns:addressLine" minOccurs="0"/>
            <xs:element name="line4" type="tns:addressLine" minOccurs="0"/>
            <xs:element name="line5" type="tns:addressLine" minOccurs="0"/>
            <xs:element name="postcode" type="tns:postcodeType"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="person">
        <xs:annotation>
            <xs:documentation>
                Describes a person
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="firstName" type="tns:nameType"/>
            <xs:element name="secondName" type="tns:nameType" minOccurs="0"/>
            <xs:element name="address" type="tns:address"/>
        </xs:sequence>
    </xs:complexType>

	<xs:element name="requestType">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="CLAIM"/>
				<xs:enumeration value="JUDGMENT"/>
				<xs:enumeration value="PAID"/>
				<xs:enumeration value="WARRANT"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="status">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="ACCEPTED"/>
				<xs:enumeration value="PENDING"/>
				<xs:enumeration value="REJECTED"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="dateOfIssue" type="xs:date"/>
	<xs:element name="dateOfService" type="xs:date"/>
	<xs:element name="enforcingCourtCode">
		<xs:simpleType>
			<xs:restriction base="xs:integer">
				<xs:pattern value="[0-9]{3}"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="enforcingCourtName">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="0"/>
				<xs:maxLength value="40"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="fee">
		<xs:simpleType>
			<xs:restriction base="tns:currency">
				<xs:maxInclusive value="9999999.99"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="rejectionReasonCode">
		<xs:simpleType>
			<xs:restriction base="xs:integer">
				<xs:pattern value="[0-9]{4}"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="rejectionReasonDescription">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="0"/>
				<xs:maxLength value="255"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="fromDate" type="xs:date"/>
	<xs:element name="toDate" type="xs:date"/>
</xs:schema>