producers-api/src/main/resources/xsd/RootXSDs/Base.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:tns="http://ws.sdt.moj.gov.uk" targetNamespace="http://ws.sdt.moj.gov.uk"
	elementFormDefault="qualified">

	<xs:simpleType name="documentNumber">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9A-Za-z]{8}" />
		</xs:restriction>
	</xs:simpleType>

	<!-- Defendant ID is Blank (all defendants), 1 or 2 -->
	<xs:simpleType name="defendantIdType">
		<xs:restriction base="xs:string">
			<xs:pattern value=" |1|2" />
		</xs:restriction>
	</xs:simpleType>

	<!-- Custom types -->
	<!-- A String with a max length of 8 -->
	<xs:simpleType name="stringMaxLength8">
		<xs:restriction base="xs:string">
			<xs:minLength value="0" />
			<xs:maxLength value="8" />
		</xs:restriction>
	</xs:simpleType>
	<!-- A String with a max length of 24 -->
	<xs:simpleType name="stringMaxLength24">
		<xs:restriction base="xs:string">
			<xs:minLength value="0" />
			<xs:maxLength value="24" />
		</xs:restriction>
	</xs:simpleType>
	<!-- A String with a max length of 30 -->
	<xs:simpleType name="stringMaxLength30">
		<xs:restriction base="xs:string">
			<xs:minLength value="0" />
			<xs:maxLength value="30" />
		</xs:restriction>
	</xs:simpleType>
	<!-- A String with a max length of 32 -->
	<xs:simpleType name="stringMaxLength32">
		<xs:restriction base="xs:string">
			<xs:minLength value="0" />
			<xs:maxLength value="32" />
		</xs:restriction>
	</xs:simpleType>
	<!-- A String with a max length of 40 -->
	<xs:simpleType name="stringMaxLength40">
		<xs:restriction base="xs:string">
			<xs:minLength value="0" />
			<xs:maxLength value="40" />
		</xs:restriction>
	</xs:simpleType>
	<!-- A String with a max length of 120 -->
	<xs:simpleType name="stringMaxLength120">
		<xs:restriction base="xs:string">
			<xs:minLength value="0" />
			<xs:maxLength value="120" />
		</xs:restriction>
	</xs:simpleType>
	<!-- A String with a max length of 255 -->
	<xs:simpleType name="stringMaxLength255">
		<xs:restriction base="xs:string">
			<xs:minLength value="0" />
			<xs:maxLength value="255" />
		</xs:restriction>
	</xs:simpleType>
	<!-- An integer with a max size of 99999 -->
	<xs:simpleType name="ingegerMaxSize99999">
		<xs:restriction base="xs:integer">
			<xs:maxInclusive value="99999" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="sotFactsAreTrueDeclarationType">
		<xs:restriction base="xs:string">
			<xs:pattern value="[yY]|[nN]" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="currencyType">
		<xs:restriction base="xs:decimal">
			<xs:fractionDigits value="2" />
			<xs:pattern value=".*\.[0-9][0-9]" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="courtCodeType">
		<xs:restriction base="xs:integer">
			<xs:pattern value="[0-9]{3}" />
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="address">
		<xs:sequence>
			<xs:element name="line1" type="tns:stringMaxLength30" />
			<xs:element name="line2" type="tns:stringMaxLength30" />
			<xs:element name="line3" type="tns:stringMaxLength30"
				minOccurs="0" />
			<xs:element name="line4" type="tns:stringMaxLength30"
				minOccurs="0" />
			<xs:element name="line5" type="tns:stringMaxLength30"
				minOccurs="0" />
			<xs:element name="postcode" type="tns:stringMaxLength8" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="person">
		<xs:annotation>
			<xs:documentation>
				Describes a person
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="firstName" type="tns:stringMaxLength30" />
			<xs:element name="secondName" type="tns:stringMaxLength30"
				minOccurs="0" />
			<xs:element name="address" type="tns:address" />
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="requestType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="CLAIM" />
			<xs:enumeration value="JUDGMENT" />
			<xs:enumeration value="PAID" />
			<xs:enumeration value="WARRANT" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="statusType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="ACCEPTED" />
			<xs:enumeration value="PENDING" />
			<xs:enumeration value="REJECTED" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="currenyTypeMaxValue999p99">
		<xs:restriction base="tns:currencyType">
			<xs:maxInclusive value="999.99" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="currenyTypeMaxValue99999p99">
		<xs:restriction base="tns:currencyType">
			<xs:maxInclusive value="99999.99" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="currenyTypeMaxValue999999p99">
		<xs:restriction base="tns:currencyType">
			<xs:maxInclusive value="9999999.99" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="rejectionReasonCodeType">
		<xs:restriction base="xs:integer">
			<xs:pattern value="[0-9]{4}" />
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="errorDetails">
		<xs:sequence>
			<xs:element name="code" type="tns:stringMaxLength8" />
			<xs:element name="description" type="tns:stringMaxLength255" />
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="statusResponse">
		<xs:restriction base="xs:string">
			<xs:enumeration value="OK" />
			<xs:enumeration value="ERROR" />
		</xs:restriction>
	</xs:simpleType>

</xs:schema>