producers-api/src/main/resources/xsd/RootXSDs/Claim.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" 
    targetNamespace="http://ws.sdt.moj.gov.uk/claim"
    xmlns:tns="http://ws.sdt.moj.gov.uk/claim" 
    xmlns:common="http://ws.sdt.moj.gov.uk/common"
    elementFormDefault="qualified">

    <xs:import namespace="http://ws.sdt.moj.gov.uk/common" schemaLocation="Base.xsd"/>

    <xs:element name="claims" type="tns:claims"/>
    <xs:complexType name="claims">
        <xs:sequence>
            <xs:element ref="tns:claim" minOccurs="1" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
	<xs:element name="claim">
		<xs:complexType>
            <xs:sequence>
    			<xs:element ref="common:requestId"/>
    			<xs:element ref="common:claimantReference" minOccurs="0"/>
    			<xs:element name="claimant" type="common:person" />
    			<xs:element name="defendant1" type="common:person"/>
                <xs:element name="defendant2" type="common:person" minOccurs="0"/>
                <xs:element name="interest" type="tns:interestType" minOccurs="0"/>
    			<xs:element name="claimAmount" type="tns:amountType"/>
    			<xs:element name="solicitorCost" type="tns:solicitorCostType" minOccurs="0" />
                <!-- TODO Confirm the significance of 24 lines -->
                <xs:element name="particulars" type="tns:particularsType" minOccurs="0" maxOccurs="24">
                    <xs:annotation>
                        <xs:documentation>Details about the claim</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:sequence>
		</xs:complexType>
	</xs:element>
    
    <xs:simpleType name="particularsType">
        <xs:restriction base="xs:string">
            <xs:minLength value="0"/>
            <xs:maxLength value="45"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="amountType">
        <xs:restriction base="xs:integer">
            <xs:minInclusive value="0"/>
            <xs:maxInclusive value="9999999"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="solicitorCostType">
        <xs:restriction base="xs:integer">
            <xs:minInclusive value="0" />
            <xs:maxInclusive value="99999" />
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="interestType">
        <xs:sequence>
            <xs:element name="dailyAmount">
                <xs:simpleType>
                    <xs:restriction base="xs:integer">
                        <xs:minInclusive value="0"/>
                        <xs:maxInclusive value="999999"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="owedDate" type="xs:date"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
