producers-api/src/main/resources/xsd/RootXSDs/Claim.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" 
    targetNamespace="http://ws.sdt.moj.gov.uk"
    xmlns:tns="http://ws.sdt.moj.gov.uk" 
    elementFormDefault="qualified">

    <xs:include schemaLocation="Base.xsd"/>
    
    <xs:simpleType name="particularsType">
        <xs:restriction base="xs:string">
            <xs:minLength value="0"/>
            <xs:maxLength value="45"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="interestType">
        <xs:sequence>
            <xs:element name="dailyAmount" type="tns:amountType999999"/>
            <xs:element name="owedDate" type="xs:date"/>
            <xs:element name="claimDate" type="xs:date"/>
            <xs:element name="claimAmount" type="tns:amountType9999999">
                <xs:annotation>
                    <xs:documentation>Amount on which interest should be calculated.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    
	<xs:complexType name="claimType">
        <xs:annotation>
            <xs:documentation>Represents Claim document.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
			<xs:element name="claimantReference" type="tns:claimantReference" minOccurs="0"/>
			<xs:element name="claimant" type="tns:person" minOccurs="0">
			    <xs:annotation>
			        <xs:documentation>Should be populated if customer is a solicitor.</xs:documentation>
			    </xs:annotation></xs:element>
            <!-- TODO Confirm why name is only 30 char long and address lines 3-5 not required -->
            <xs:element name="claimantCorrespondence" type="tns:person" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Should be populated if customer is not a solicitor.</xs:documentation>
                </xs:annotation>
            </xs:element>
			<xs:element name="defendant1" type="tns:person"/>
            <xs:element name="defendant2" type="tns:person" minOccurs="0"/>
            <xs:element name="sendParticularsSeparately" type="xs:boolean"/>
            <xs:element name="interest" type="tns:interestType" minOccurs="0"/>
			<xs:element name="claimAmount" type="tns:amountType9999999"/>
			<xs:element name="solicitorCost" type="tns:amountType999999" minOccurs="0" >
			    <xs:annotation>
			        <xs:documentation>Should be populated only if customer is solicitor.</xs:documentation>
			    </xs:annotation>
            </xs:element>
            <xs:element name="particulars" type="tns:particularsType" minOccurs="1" maxOccurs="24">
                <xs:annotation>
                    <xs:documentation>Details about the claim</xs:documentation>
                </xs:annotation>
            </xs:element>
            <!-- TODO Hillary to confirm if this is required. -->
            <xs:element name="guidanceRead" type="xs:boolean"/>
            <xs:element name="sotSignature" type="tns:sotSignature"/>
        </xs:sequence>
	</xs:complexType>
    
    <xs:element name="mcolClaim" type="tns:claimType"/>

</xs:schema>
