producers-api/src/main/resources/xsd/RootXSDs/Judgment.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" 
    targetNamespace="http://ws.sdt.moj.gov.uk/judgment"
    xmlns:tns="http://ws.sdt.moj.gov.uk/judgment" 
    xmlns:common="http://ws.sdt.moj.gov.uk/common"
    elementFormDefault="qualified">

    <xs:import namespace="http://ws.sdt.moj.gov.uk/common" schemaLocation="Base.xsd"/>

	<xs:element name="judgments" type="tns:judgments"/>
	<xs:complexType name="judgments">
		<xs:sequence>
			<xs:element ref="tns:judgment" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="judgment">
		<xs:complexType>
			<xs:all>
                <xs:element ref="common:requestId"/>
				<xs:element ref="common:caseNumber"/>
				<xs:element ref="common:defendantId"/>
				<xs:element ref="common:defendantAddressLine1"/>
                <xs:element ref="common:defendantAddressLine2"/>
                <xs:element ref="common:defendantAddressLine3" minOccurs="0"/>
                <xs:element ref="common:defendantAddressLine4" minOccurs="0"/>
                <xs:element ref="common:defendantAddressLine5" minOccurs="0"/>
				<xs:element ref="common:defendantPostcode"/>
                <!-- I think we should upgrade to 4 digit years -->
                <xs:element name="defendantDateOfBirth" type="xs:date"/>
				<xs:element ref="tns:judgmentType"/>
				<xs:element ref="tns:jointJudgment" minOccurs="0"/>
				<xs:element ref="tns:judgmentAmount"/>
				<xs:element ref="tns:interest" minOccurs="0"/>
				<xs:element ref="tns:totalCosts" minOccurs="0"/>
				<xs:element ref="tns:paidBeforeJudgment" minOccurs="0"/>
				<xs:element ref="tns:judgmentTotal"/>
				<xs:element ref="tns:instalmentAmount" minOccurs="0"/>
				<xs:element ref="tns:instalmentFrequency" minOccurs="0"/>
				<xs:element ref="tns:dateOfFirstPayment" minOccurs="0"/>
				<xs:element ref="tns:payeeName"/>
				<xs:element ref="tns:payeeAddressLine1"/>
                <xs:element ref="tns:payeeAddressLine2"/>
                <xs:element ref="tns:payeeAddressLine3"  minOccurs="0"/>
                <xs:element ref="tns:payeeAddressLine4"  minOccurs="0"/>
                <xs:element ref="tns:payeeAddressLine5"  minOccurs="0"/>
				<xs:element ref="tns:payeePostcode"/>
 				<xs:element ref="tns:payeeTelephone" minOccurs="0"/>
				<xs:element ref="tns:payeeReference" minOccurs="0"/>
				<xs:element ref="tns:payeeSortCode" minOccurs="0"/>
				<xs:element ref="tns:payeeBankAccountNumber" minOccurs="0"/>
				<xs:element ref="tns:payeeBankName" minOccurs="0"/>
				<xs:element ref="tns:payeeBankInfo1" minOccurs="0"/>
				<xs:element ref="tns:payeeBankInfo2" minOccurs="0"/>
				<xs:element ref="tns:payeeGirobankAccountNumber" minOccurs="0"/>
				<xs:element ref="tns:paymentSlipCodeline1" minOccurs="0"/>
				<xs:element ref="tns:paymentSlipCodeline2" minOccurs="0"/>
				<xs:element ref="tns:payeeGirobankTransactionCode1" minOccurs="0"/>
				<xs:element ref="tns:payeeGirobankTransactionCode2" minOccurs="0"/>
				<xs:element ref="tns:payeeApacsCode" minOccurs="0"/>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<!-- This is a yes or no field, and we should be case insensitive -->
	<xs:element name="registeredOffice">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:pattern value="[yY]|[nN]"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<!-- Values here should be A or D only -->
	<xs:element name="judgmentType">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:pattern value="[aA]|[dD]"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<!-- Values here should be Y or N or space only. I think we can update this 
		to be Y or N with space becoming no node -->
	<xs:element name="jointJudgment">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:pattern value="[yY]|[nN]| "/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<!-- Currency data types, xs:maxInclusive is the only way to get length checks to work -->
	<xs:element name="judgmentAmount">
		<xs:simpleType>
			<xs:restriction base="common:currency">
				<xs:maxInclusive value="999999.99"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="interest">
		<xs:simpleType>
			<xs:restriction base="common:currency">
				<xs:maxInclusive value="99999.99"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="totalCosts">
		<xs:simpleType>
			<xs:restriction base="common:currency">
				<xs:maxInclusive value="999.99"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="paidBeforeJudgment">
		<xs:simpleType>
			<xs:restriction base="common:currency">
				<xs:maxInclusive value="999999.99"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="judgmentTotal">
		<xs:simpleType>
			<xs:restriction base="common:currency">
				<xs:maxInclusive value="999999.99"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="instalmentAmount">
		<xs:simpleType>
			<xs:restriction base="common:currency">
				<xs:maxInclusive value="999999.99"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="instalmentFrequency">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:pattern value="[mM]|[fF]|[wW] "/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="dateOfFirstPayment" type="xs:date"/>
	<xs:element name="payeeName">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="0"/>
				<xs:maxLength value="70"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="payeeAddressLine1" type="common:addressLine"/>
	<xs:element name="payeeAddressLine2" type="common:addressLine"/>
	<xs:element name="payeeAddressLine3" type="common:addressLine"/>
	<xs:element name="payeeAddressLine4" type="common:addressLine"/>
	<xs:element name="payeeAddressLine5" type="common:addressLine"/>
	<xs:element name="payeePostcode" type="common:postcode"/>
	<xs:element name="payeeTelephone">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:pattern value="[0-9]{11}"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="payeeReference">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="0"/>
				<xs:maxLength value="24"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="paymentSlipCodeline1">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="0"/>
				<xs:maxLength value="58"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="paymentSlipCodeline2">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="0"/>
				<xs:maxLength value="100"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="payeeSortCode">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="0"/>
				<xs:maxLength value="8"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="payeeBankAccountHolder">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="0"/>
				<xs:maxLength value="70"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="payeeBankName">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="0"/>
				<xs:maxLength value="30"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="payeeBankInfo1">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="0"/>
				<xs:maxLength value="30"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="payeeBankInfo2">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="0"/>
				<xs:maxLength value="30"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="payeeGirobankAccountNumber">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="0"/>
				<xs:maxLength value="8"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="payeeBankAccountNumber">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="0"/>
				<xs:maxLength value="18"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="payeeGirobankTransactionCode1">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="0"/>
				<xs:maxLength value="9"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="payeeGirobankTransactionCode2">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="0"/>
				<xs:maxLength value="2"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="payeeApacsCode">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="0"/>
				<xs:maxLength value="2"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>

</xs:schema>
