producers-api/src/main/resources/xsd/RootXSDs/Judgment.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://commissioning-ws.sdt.moj.gov.uk/" targetNamespace="http://commissioning-ws.sdt.moj.gov.uk/" elementFormDefault="qualified">
	<xs:include schemaLocation="Base.xsd"/>
	<xs:element name="sendNewJudgements" type="tns:sendNewJudgements"/>
	<xs:complexType name="sendNewJudgements">
		<xs:sequence>
			<xs:element ref="tns:judgement" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="judgement">
		<xs:complexType>
			<xs:all>
				<xs:element ref="tns:case_number"/>
				<xs:element ref="tns:defendant_id"/>
				<xs:element ref="tns:defendant_address_line_1"/>
				<xs:element ref="tns:defendant_address_line_2"/>
				<xs:element ref="tns:defendant_address_line_3" minOccurs="0"/>
				<xs:element ref="tns:defendant_address_line_4" minOccurs="0"/>
				<xs:element ref="tns:defendant_address_line_5" minOccurs="0"/>
				<xs:element ref="tns:defendant_postcode"/>
				<xs:element ref="tns:defendant_date_of_birth" minOccurs="0"/>
				<xs:element ref="tns:judgment_type"/>
				<xs:element ref="tns:joint_judgment" minOccurs="0"/>
				<xs:element ref="tns:judgment_amount"/>
				<xs:element ref="tns:interest" minOccurs="0"/>
				<xs:element ref="tns:total_costs" minOccurs="0"/>
				<xs:element ref="tns:paid_before_judgment" minOccurs="0"/>
				<xs:element ref="tns:judgment_total"/>
				<xs:element ref="tns:instalment_amount" minOccurs="0"/>
				<xs:element ref="tns:instalment_frequency" minOccurs="0"/>
				<xs:element ref="tns:date_of_first_payment" minOccurs="0"/>
				<xs:element ref="tns:payee_name"/>
				<xs:element ref="tns:payee_address_line_1"/>
				<xs:element ref="tns:payee_address_line_2"/>
				<xs:element ref="tns:payee_address_line_3" minOccurs="0"/>
				<xs:element ref="tns:payee_address_line_4" minOccurs="0"/>
				<xs:element ref="tns:payee_address_line_5" minOccurs="0"/>
				<xs:element ref="tns:payee_postcode"/>
				<xs:element ref="tns:payee_telephone" minOccurs="0"/>
				<xs:element ref="tns:payee_reference" minOccurs="0"/>
				<xs:element ref="tns:payee_sort_code" minOccurs="0"/>
				<xs:element ref="tns:payee_bank_account_number" minOccurs="0"/>
				<xs:element ref="tns:payee_bank_name" minOccurs="0"/>
				<xs:element ref="tns:payee_bank_info_1" minOccurs="0"/>
				<xs:element ref="tns:payee_bank_info_2" minOccurs="0"/>
				<xs:element ref="tns:payee_girobank_account_number" minOccurs="0"/>
				<xs:element ref="tns:payment_slip_codeline_1" minOccurs="0"/>
				<xs:element ref="tns:payment_slip_codeline_2" minOccurs="0"/>
				<xs:element ref="tns:payee_girobank_transaction_code_1" minOccurs="0"/>
				<xs:element ref="tns:payee_girobank_transaction_code_2" minOccurs="0"/>
				<xs:element ref="tns:payee_apacs_code" minOccurs="0"/>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<!-- I think we should upgrade to 4 digit years -->
	<xs:element name="defendant_date_of_birth" type="xs:date"/>
	<!-- This is a yes or no field, and we should be case insensitive -->
	<xs:element name="registered_office">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:pattern value="[yY]|[nN]"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<!-- Values here should be A or D only -->
	<xs:element name="judgment_type">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:pattern value="[aA]|[dD]"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<!-- Values here should be Y or N or space only. I think we can update this 
		to be Y or N with space becoming no node -->
	<xs:element name="joint_judgment">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:pattern value="[yY]|[nN]| "/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<!-- Currency data types, xs:maxInclusive is the only way to get length checks to work -->
	<xs:element name="judgment_amount">
		<xs:simpleType>
			<xs:restriction base="tns:currency">
				<xs:maxInclusive value="999999.99"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="interest">
		<xs:simpleType>
			<xs:restriction base="tns:currency">
				<xs:maxInclusive value="99999.99"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="total_costs">
		<xs:simpleType>
			<xs:restriction base="tns:currency">
				<xs:maxInclusive value="999.99"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="paid_before_judgment">
		<xs:simpleType>
			<xs:restriction base="tns:currency">
				<xs:maxInclusive value="999999.99"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="judgment_total">
		<xs:simpleType>
			<xs:restriction base="tns:currency">
				<xs:maxInclusive value="999999.99"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="instalment_amount">
		<xs:simpleType>
			<xs:restriction base="tns:currency">
				<xs:maxInclusive value="999999.99"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="instalment_frequency">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:pattern value="[mM]|[fF]|[wW] "/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="date_of_first_payment" type="xs:date"/>
	<xs:element name="payee_name">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="0"/>
				<xs:maxLength value="70"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="payee_address_line_1" type="tns:address_line"/>
	<xs:element name="payee_address_line_2" type="tns:address_line"/>
	<xs:element name="payee_address_line_3" type="tns:address_line"/>
	<xs:element name="payee_address_line_4" type="tns:address_line"/>
	<xs:element name="payee_address_line_5" type="tns:address_line"/>
	<xs:element name="payee_postcode" type="tns:postcode"/>
	<xs:element name="payee_telephone">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:pattern value="[0-9]{11}"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="payee_reference">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="0"/>
				<xs:maxLength value="24"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="payment_slip_codeline_1">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="0"/>
				<xs:maxLength value="58"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="payment_slip_codeline_2">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="0"/>
				<xs:maxLength value="100"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="payee_sort_code">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="0"/>
				<xs:maxLength value="8"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="payee_bank_account_holder">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="0"/>
				<xs:maxLength value="70"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="payee_bank_name">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="0"/>
				<xs:maxLength value="30"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="payee_bank_info_1">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="0"/>
				<xs:maxLength value="30"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="payee_bank_info_2">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="0"/>
				<xs:maxLength value="30"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="payee_girobank_account_number">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="0"/>
				<xs:maxLength value="8"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="payee_bank_account_number">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="0"/>
				<xs:maxLength value="18"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="payee_girobank_transaction_code_1">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="0"/>
				<xs:maxLength value="9"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="payee_girobank_transaction_code_2">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="0"/>
				<xs:maxLength value="2"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="payee_apacs_code">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:minLength value="0"/>
				<xs:maxLength value="2"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
</xs:schema>
