producers-api/src/main/resources/xsd/RootXSDs/Paid.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:tns="http://ws.sdt.moj.gov.uk" targetNamespace="http://ws.sdt.moj.gov.uk"
	elementFormDefault="qualified">
	<xs:include schemaLocation="Base.xsd" />
	<xs:element name="paids" type="tns:paids" />
	<xs:complexType name="paids">
		<xs:sequence>
			<xs:element ref="tns:paid" minOccurs="1" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>
	<xs:element name="paid">
		<xs:complexType>
			<xs:all>
				<xs:element name="caseNumber" type="tns:stringMaxLength8" />
				<xs:element name="defendantId" type="tns:stringMaxLength8"
					minOccurs="0" />
				<xs:element name="notificationType" type="tns:notificationType" />
				<xs:element name="dateOfLastPayment" type="xs:date"
					minOccurs="0" />
			</xs:all>
		</xs:complexType>
	</xs:element>
	<!-- Paid, Written off, Withdrawn or Discontinued. -->
	<xs:simpleType name="notificationType">
		<xs:restriction base="xs:string">
			<xs:pattern value="[pP]|[oO]|[wW]|[dD]" />
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
