producers-api/src/main/resources/xsd/RootXSDs/Paid.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://ws.sdt.moj.gov.uk/paid" 
	 		targetNamespace="http://ws.sdt.moj.gov.uk/paid" xmlns:common="http://ws.sdt.moj.gov.uk/common"
	  		elementFormDefault="qualified">
		<xs:import namespace="http://ws.sdt.moj.gov.uk/common" schemaLocation="Base.xsd"/>
	<xs:element name="sendNewPaid" type="tns:sendNewPaid"/>
	<xs:complexType name="sendNewPaid">
		<xs:sequence>
			<xs:element ref="tns:paid" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="paid">
		<xs:complexType>
			<xs:all>
				<xs:element ref="common:caseNumber"/>
				<xs:element ref="common:defendantId" minOccurs="0"/>
				<xs:element ref="tns:notificationType"/>
				<xs:element ref="tns:dateOfLastPayment" minOccurs="0"/>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<!-- Paid, Written off, Withdrawn or Discontinued. -->
	<xs:element name="notificationType">
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:pattern value="[pP]|[oO]|[wW]|[dD]"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<!-- The date of the last payment -->
	<xs:element name="dateOfLastPayment" type="xs:date"/>
</xs:schema>
