producers-api/src/main/resources/xsd/RootXSDs/Warrant.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:tns="http://ws.sdt.moj.gov.uk" targetNamespace="http://ws.sdt.moj.gov.uk"
	elementFormDefault="qualified">
	<xs:include schemaLocation="..\RootXSDs\Base.xsd" />
	<xs:element name="warrants" type="tns:warrants" />
	<xs:complexType name="warrants">
		<xs:sequence>
			<xs:element name="warrant" type="tns:warrant" minOccurs="1"
				maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="warrant">
		<xs:all>
			<xs:element name="requestId" type="tns:stringMaxLength8" />
			<xs:element name="caseNumber" type="tns:stringMaxLength8" />
			<xs:element name="claimantReference" type="tns:stringMaxLength8"
				minOccurs="0" />
			<xs:element name="defendantId" type="tns:stringMaxLength8" />
			<xs:element name="defendantAddress" type="tns:address" />
			<xs:element name="balanceOfDebt" type="tns:currenyTypeMaxValue99999p99" />
			<xs:element name="amountOfWarrant" type="tns:currenyTypeMaxValue99999p99" />
			<xs:element name="solicitorsCosts" type="tns:currenyTypeMaxValue999p99"
				minOccurs="0" />
			<xs:element name="additionalNotes" type="tns:stringMaxLength120"
				minOccurs="0" />
		</xs:all>
	</xs:complexType>
</xs:schema>