producers-api/src/main/resources/xsd/RootXSDs/Warrant.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:tns="http://ws.sdt.moj.gov.uk" 
    targetNamespace="http://ws.sdt.moj.gov.uk"
	elementFormDefault="qualified">
    
	<xs:include schemaLocation="Base.xsd" />
    
	<xs:complexType name="warrantType">
		<xs:sequence>
			<xs:element name="claimNumber" type="tns:documentNumber" />
			<xs:element name="claimantReference" type="tns:claimantReference" minOccurs="0" />
			<xs:element name="defendantId" type="tns:defendantIdType" />
			<xs:element name="defendantAddress" type="tns:address" />
			<xs:element name="balanceOfDebt" type="tns:currenyTypeMaxValue99999p99" />
			<xs:element name="amountOfWarrant" type="tns:currenyTypeMaxValue99999p99" />
			<xs:element name="solicitorCost" type="tns:currenyTypeMaxValue999p99" minOccurs="0" />
			<xs:element name="additionalNotes" type="tns:stringMaxLength120" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>

    <xs:element name="mcolWarrant" type="tns:warrantType" />

</xs:schema>